<div class="col-md-3">
  <div class="table-photo-container">
    <%= photo(entity.photography, 120) %> 
    <%= edit_photo_link(entity.photography) %>
  </div>
</div> 

<div class="col-md-3"> <%= link_to entity.description, entity %> </div> 
<div class="col-md-3"> <%= entity.tags %> </div> 