<div class ="wish_gallery_title">Make people's wishes come true, recommend markets. </div>

<div class="paginate">
  <%= paginate @wishes %>
</div>

<div class = "wish_gallery">
  <% @wishes.each do |wish| %>
    <%= render "wishes/show", :wish => wish %>
  <% end %>
</div>


