<div class ="gallery_title">Make people's wishes come true, recommend markets.</div>

<div class="paginate">
  <%= paginate @wishes %>
</div>

<div class = "wish-gallery row">
  <% @wishes.each do |wish| %>
    <%= render "wishes/show", :wish => wish %>
  <% end %>
</div>


