<h1>Make people's wishes come true, recommend markets.</h1>
<div class = "center-button-container">
	<%= link_to new_wish_path, class: "btn btn-default" do %>
  	<i class="fa fa-plus"></i> <%= t :new_wish %>
	<% end %>
</div>

<div class="paginate">
  <%= paginate @wishes %>
</div>

<div class = "wish-gallery row">
  <% @wishes.each do |wish| %>
    <%= render "wishes/show", :wish => wish %>
  <% end %>
</div>


