<div class ="bargain_gallery_title">People Bargains</div>

<div class="paginate">
  <%= paginate @bargains %>
</div>

<div class = "bargain_gallery">
  <% @bargains.each do |bargain| %>
    <%= render "bargains/show", :bargain => bargain %>
  <% end %>
</div>


