<div class="panel panel-default panel-table panel-table-last">
  <div class="panel-heading table-title">
    My Bargains <%= link_to content_tag(:i, "", class: "fa fa-plus"), new_bargain_path, 
      class: "btn btn-info table-button table-button-new new"%>
  </div>
  
  <%= render "index" %>
</div>


<script>
  $(document).ready(function(){
    buttonHover(".table-button-new", "fa-plus", "New Bargain", 135);
    buttonHover(".table-button-delete", "fa-trash-o", "Delete", 85);
    buttonHover(".table-button-edit", "fa-pencil", "Edit", 70);
  });
  
  var buttonHover = function(button, icon, text, width){
    $(button).hover(function(){
      $(this).html("<i class='fa " + icon + "'></i>&nbsp;&nbsp;" + text);
      $(this).animate({
        width: width
      }, 100);
    }, function(){
      $(this).html("<i class='fa " + icon + "'></i>");
      $(this).animate({
        width: "40"
      }, 100);
    });
  };
</script>