<%= stylesheet_link_tag 'maps'%>
<%= stylesheet_link_tag 'markets/tooltip'%>
<%= javascript_include_tag 'maps' %>

<div id="map"></div>
<div id="map_theme_buttons" class="btn-group-vertical">
  <button type="button" class="btn btn-default btn-xs" id="theme-default">Garage sale</button>
  <button type="button" class="btn btn-default btn-xs" id="theme-antique">Ropa</button>
  <button type="button" class="btn btn-default btn-xs" id="theme-strawberry">Strawberry</button>
  <button type="button" class="btn btn-default btn-xs" id="theme-night">Cenas</button>
  <button type="button" class="btn btn-default btn-xs" id="theme-sky">Fashion</button>
  <button type="button" class="btn btn-default btn-xs" id="theme-light">Jewellery</button>
</div>