<%= stylesheet_link_tag 'maps'%>
<%= stylesheet_link_tag 'markets/tooltip'%>
<%= javascript_include_tag 'maps' %>

<div id="map"></div>

<div id="map_theme_buttons" class="btn-group-vertical">
  <% Category.each do |category| %>
    <%= formatted_button(category) %>
    
  <% end %>
</div>
 
