<%= stylesheet_link_tag 'maps'%>
<%= stylesheet_link_tag 'markets/tooltip'%>
<%= javascript_include_tag 'maps' %>

<div id="map"></div>
<div id="map_theme_buttons" class="btn-group-vertical">
  <button type="button" class="btn btn-success btn-sm" id="theme-default">
  	<span class="glyphicon glyphicon-shopping-cart"></span>
  </button>
  <button type="button" class="btn btn-warning btn-sm" id="theme-antique">
  	<span class="glyphicon glyphicon-tower"></span>
  </button>
  <button type="button" class="btn btn-danger btn-sm" id="theme-strawberry">
  	<span class="glyphicon glyphicon-cutlery"></span>
  </button>
  <button type="button" class="btn btn-primary btn-sm" id="theme-night">
  	<span class="glyphicon glyphicon-glass"></span>
  </button>
  <button type="button" class="btn btn-info btn-sm" id="theme-sky">
  	<span class="glyphicon glyphicon-briefcase"></span>
  </button>
  <button type="button" class="btn btn-default btn-sm" id="theme-light">
  	<span class="glyphicon glyphicon-lock"></span>
  </button>
</div>