<div class="terms-title">
  <%= image_tag "favicon.png" %>
  <br>
  OUR STORY
</div>
<div class="terms-content col-md-8 col-md-offset-2">
  <p>Dowemarket was born in the Madrid neighborhood of Conde Duque in response to the multitude of daily requests Elisa Fernandez, architect, builder and former owner of LaTraviesa Conde Duque. </p>
  <p>It is not surprising. LaTraviesa, as it was known in the neighborhood, appears as a charming, different space with its own personality. Since its inception, not only the attention of the neighbors are caught, but also it has appeared in the press and decorating magazines. In this inspirational space (architectural transformed into cafe/ bar), besides the regular customers, a variety of artists and creators (from artisans, painters, hairdressers, bands of musicians...) requested to use the space to publicize their works, creations and skills. And of course, LaTraviesa can serve for some of them, but not all. </p>
  <p>That was how the idea was born. The combination of Elisa's passion for the art, and the markets, formed the idea that is now embodied in Dowemarket. A space that aims to bring those who create and want to share and those who are looking for real experiences and creations together.</p>
  <p>Elisa is joined with a passionate design team, Sara, Gema and Miguel, carrying out this beautiful project which makes the creation available to those who seek it. </p>
  <p>This is where we collaborate, share and enjoy. This is where we are. Because we all have something to give. And in Dowemarket, we can. <%= link_to open_market_path do %> Find out how <% end %> </p>
  <p>If you would like to contact us, or learn more about our project you can find us: info@dowemarket.com</p>

  <p>How do we work</p>
  <p><strong>I’m looking for a market:</strong></p>
  <p>Here you can find markets in Conde Duque or private dinners in Lavapiés. If what you're looking for is a Market for this weekend, we have made it easy! You can search by a keyword in the search box on the page if you are clear about what you want, or if you prefer a more visual way, through the "Map" option you can navigate the Markets worldwide. And for those who are looking for some “specificity”, we have prepared the section"Explore", where you can search by Categories, Tags, Places… any detail that you need! </p>
  <p>If you like what you see and would like to join Dowemarket, we recommend you to register at Dowemarket (it's very easy), and you can identify your “wish list or preferences" so that other #MarketLovers can recommend alternatives, see your wish list, or share the bargains you found (if your profile is “bargain hunter") through the page or through social networks. </p>
  <p>What’s more, when you share your experience with other people like you, you are contributing to expand the community of Market Lovers. (And we always appreciate that you could share your experience.)</p>

  <p><strong>I would like to open an account:</strong></p>
  <p>It’s very easy :) For registering, all you need is an email address and a password. Also you can sign up with your Facebook or Google+ account. What’s more, if you’re professional, you can also choose to open a PRP account. Once you are registered, you will become one of our community, also you will be able to open your own market. Interested?</p>
  <p>The PRO account. It offers you more liberty with the talent you have, for 5.99 € per month, you are able to open as many Markets as you wish. All of your Markets will be VIM y starred by the Dowemarket team. </p>

  <p><strong>What are the Markets</strong></p>
  <p>The Markets are what you want them to be, it depends on what your talents are, and how you want to show them. You can have the Market that suits you the best! They can be anything: a pop-up on a rented place for it, or sell your own stuff at home, a presentation of your latest collection of poems, a night of manicures, makeup or haircut at the home of one of your friends, or even organize a dinner at home. </p>
  <p>In Dowemarket you can show your skills to the people who are looking for it. And mark the spot where you want the Market to take place, which can be your home or the home of one of your friends, or a place you've rented for the occasion...</p>

  <p><strong>Discover the different types of Markets:</strong></p>
  <p>If you are already a registered user, you can now open your own free Market! We offer a free Market monthly. It’s very easy... Think about the name you like and a short text that describes your Market best, add 3 photos that would be useful to complement the description... You're almost there! We propose to choose a category, and add some tags to make your Market better identified. Finally, select the date you want to open your Market, at what time it will be open, and give a price range of the services you offer! And very very important, make sure the proper direction to your Market appears in the geo-located map search. </p>
  <p>Now that you have created your Market, remember that it is not visible to other users, until you publish it. Once you have created your Market, you can print your own poster with QR code to paste in your building, neighborhood, office, university… We would like to help so that more people know about it!! Your friends can mark it as “favorite”, “recommend”, and comment or share it via Twitter, Facebook, Pinterest and Google+.</p>
  <p>If you want a Market which is more special, then the option VIM Market (Very Important Market) is the one that suits your needs best. </p>

  <p><strong>VIM Market</strong></p>
  <p>If you would like to show more details of your Market (photos, links to other webpages…) and you would like to create <%= link_to sell_coupon_terms_path do %> coupons <% end %>, then this option is the one that suits your needs best. With only 2.99€ :) your followers will see how special the experience is going to be in your Market.</p>

  <p><strong>Coupons</strong></p>
  <p>The coupons are one of the details that we like the most in Dowemarket. They are the tool which allows you to define what and how you want the experience of your Market to be. Something we have created to allow you to limit how many people to have dinner at your home, or as an entrance to define the number of people you would like to invite to your house to visit your creations. You can also use them as discount coupons (for example, those who purchase the coupon will have access to a % off, or offers that you would like to make...) or Coupons with Catering during the visit to your Market (for example, those who have purchased the coupon, will enjoy the tour with Spanish wine). You can select a price you would like for your coupon from 5 € to 25 €,and you can create up to 25 coupons per Market!</p>

  <div class="center">
    <%= back_link %>
  </div>  
</div>

