<div class="terms-title">
  <%= image_tag "favicon.png" %>
  <br>
  INGLES DoWeMarket. Cuál es nuestra historia.
</div>
<div class="terms-content col-md-8 col-md-offset-2">
  <p>DoWeMarket nace en un rincón del Madrileño barrio de Conde Duque como respuesta a la multitud de solicitudes diarias que Elisa Fernández,  arquitecta, creadora y antigua propietaria de LaTraviesa de Conde Duque (attach link) tenía diariamente.</p>
  <p>No es de extrañar. LaTraviesa (link a la página de fb de LaTraviesa), como se la conocía en el barrio, aparece como un espacio acogedor, diferente y con personalidad propia que rápidamente desde su creación llamó la atención no solo de los vecinos del barrio, sino también de la prensa y revistas de decoración (link a alguna referencia chula de cobertura en medios). Un espacio inspirador (estudio de arquitectura transformado en café / bar) donde, además de los habituales clientes, una variedad de artistas y creadores (desde artesanos, pintoras, peluqueras, a bandas de músicos …)  solicitaban utilizar para dar asi a conocer sus obras, creaciones y aptitudes. Y claro, LaTraviesa daba para mucho, pero no para tanto.</p>
  <p>Es asi como nace el germen, que unido a la pasión de Elisa por el arte, los mercadillos, da forma a una idea que ahora se materializa en DoWeMarket. Un espacio que busca poner en contacto a aquellos que crean y quieren compartir, con quienes buscan experiencias y creaciones reales.</p>
  <p>A Elisa se le une un equipo de apasionados por el diseño, Sara, Gema y Miguel, para llevar adelante este bonito proyecto donde la creación se pone al alcance de aquellos que la buscan.</p>
  <p>Donde colaboramos y compartimos y disfrutamos. Ahí donde estemos. Porque todos tenemos algo que queremos ofrecer. Y en DoWeMarket podemos. Averigua cómo (link a Abrir un Market)</p>
  <p>Si quieres contactar con nosotros, o saber más de nuestro proyecto _ puedes encontrarnos en dowemarket@gmail.com</p>

  <p>Cómo funcionamos:</p>
  <p><strong>Busco un Market:</strong></p>
  <p>Puedes encontrar Mercadillos en Conde Duque o Cenas privadas en Lavapiés. Si lo que estàs buscando es un Market para este finde, te lo ponemos fácil! Busca por palabras clave en el buscador de la página si tienes claro lo que quieres, o si lo prefieres, y te decantas más por el código visual, a través de la opción "mapa" puedes navegar por todo el mundo. Y para quienes buscan "concreción" tenemos preparada la sección de "Explorar", donde podrás buscar por Categorías, Etiquetas, Lugares … el detalle que tu necesites!</p>
  <p>Si te gusta lo que ves y quieres sacarle el tope de partido a DoWeMarket, te recomendamos registrarte en DoWeMarket (es muy fácil), podrás identificar tu "lista de deseos o preferencias" para que otros #MarketLovers puedan recomendarte alternativas, acceder a tu propia lista de deseos, o compartir tus chollos encontrados (si resulta que tu perfil es "cazador de chollos") a través de la página o a través de las RRSS.</p>
  <p>Y es que además, cuando compartes tu experiencia con otra gente como tu, contribuyes a expandir la comunidad de Market Lovers. (& nosotros siempre te agradeceremos que compartas tu experiencia.)</p>

  <p><strong>Quiero abrir una cuenta:</strong></p>
  <p>Es muy fácil. ;) Para registrarte sólo necesitas una dirección de correo y una contraseña. Tambièn puedes acceder a través de tu cuenta de Facebook o Google+. Además, si eres profesional, puedes abrirte tu propia Cuenta Pro (Link a Cuenta Pro) . Una vez registrado, además de formar parte de la comunidad (hyperlink a texto descriptivo anterior), podrás también abrir tu propio Market. Interesados? (link a tipos de markets)</p>
  <p>La Cuenta Pro. Te ofrece la libertad que tu talento necesita, permitiéndote abrir cuantos Markets necesites por e5,99/mes. Todos tus Markets serán VIM (link a Market VIMs) y destacados por la equipo de DoWeMarket. Ver GoPro (link a GoPro)  (en el futuro cuando tengamos comunidad será interesante) </p>

  <p><strong>Qué es esto de los Markets.</strong></p>
  <p>Los Markets son lo que tú quieras que sean, pues depende de cuál sea tu talento y cómo quieras mostrarlo, podrás habilitar el Market que mejor se adapte a ti!. Pueden ser desde un Pop Up en un lugar alquilado para ello, o una venta de tus cosas en tu propia vivienda, a una presentación de tu último poemario, una tarde de manicuras, o maquillaje o corte de pelo en casa de una de tus amigas … hasta organizar una cena en tu propia casa.</p>
  <p>En DoWeMarket podrás dar a conocer tu habilidad a gente con ganas de encontrarla. Y marcar el sitio donde quieres que el Market suceda, puede ser tu casa o la casa de una de tus amigas, o algún lugar que hayas alquilado para la ocasión...</p>

  <p><strong>Descubre los distintos Tipos de Markets:</strong></p>
  <p>Si eres usuario ya registrado, ya puedes abrir tu propio market! Es muy fàcil … Piensa en el nombre que le quieras dar y un breve texto que mejor describa tu Market, identifica 3 fotos que te sean útiles para complementar la descripción,… ya casi estás allí! Te proponemos escoger una categoría para facilitar que tu Market sea mejor identificado y añádele todas las etiquetas que desees …. ! Por último, selecciona las fechas en las que quieres abrir tu Market, en qué horarios estará abierto y el rango de precios de los servicios que ofreces! Y muy muy importante _ escribe bien la dirección para que tu Market aparezca geo-localizado en el mapa de búsqueda.</p>
  <p>Ahora ya tienes tu  Market creado, recuerda que no quedará visible a otros usuarios hasta que no lo publiques.  Una vez que tengas tu Market creado podrás imprimir tu propio Póster y QR para pegarlo en tu portal, barrio, oficina, uni….  Queremos ayudarte a darlo a conocer!! Tus amigos podrán señalarlo como "favorito", "recomendarlo" y "comentar" o compartirlo a través de Twitter, Facebook, Pinterest o Google+</p>
  <p>Si buscas que tu Market sea más especial, entonces la opción de Market VIM (Very Important Market) es la que mejor se adapta a tus necesidades. Ver Market VIM (Link2)</p>

  <p><strong>Market VIM:</strong></p>
  <p>Si buscar que la publicación de tu Market ofrezca mayor detalle (fotos, links a otras páginas) y quieres poder crear cupones (link a Cupone, entonces esta opción es la que mejor se adapta a tus necesidades. Por sólo e2,99 :) tus seguidores verán qué tan especial va a ser la experiencia en tu Market.</p>

  <p><strong>Cupones:</strong></p>
  <p>Los Cupones es de los detalles que más nos gustan en DoWeMarket. Son la herramienta que te permite definir a ti què y cómo quieres que sea la experiencia de tu Market. Un guiño que hemos desarrollado para permitirte a ti acotar por ejemplo cuántas personas quieres cenando en tu casa, o como entradas para definir el número de gente que quieres que vaya a tu casa para visitar tus creaciones. También puedes utilizarlos como cupones descuento (ie. Aquellos que compren el Cupón tendrán acceso a un % de descuento, ofertas que tu definas…) o Cupones de Catering durante la visita a tu Market (aquellos que compren el Cupón, podrán acompañar la visita de un vino español por ejemplo) . Puedes darles el valor que desees _ desde los e5 a los e50!</p>

  <div class="center">
    <%= back_link %>
  </div>  
</div>

