<div class="terms-title" >
  <i class="fa fa-beer fa-3x"></i>
  <br>
  <%= t("beta_page.title") %>
</div>

<div class="terms-content col-md-8 col-md-offset-2 center">
  <ul>
    <li><%= t("beta_page.content") %></li>
  </ul>
</div>