<div class="terms-title" ><i class="fa fa-beer fa-3x"></i><br>We are working!</div>
<div class="terms-content col-md-8 col-md-offset-2 center">
<ul>
<li>¡Estamos trabajando en la web para mejorar cada día la experiencia, si encuentras algún fallo comunicanoslo!</li>
</ul>
</div>