<div class="terms-title" ><i class="fa fa-ticket fa-3x"></i><br>Soy cliente de un mercado y quiero comprar un cupón.</div>
<div class="terms-content col-md-8 col-md-offset-2">
<ul>
  <li> <%= t("buy_coupon_terms.terms")[0] %> </li>
  <li> <%= t("buy_coupon_terms.terms")[1] %>  </li>
<ul>
    <li>  <%= t("buy_coupon_terms.terms")[2]  %> </li>
    <li> Priority shooping. Invita a algunos compradores a llegar 1 hora antes a tu mercado y así se pueden aprovechar y encontrar las mejores gangas. </li>
    <li> Regalo sorpresa. Asegúrate que tus compradores se lleven algo especial a casa para recordar tu mercado. </li>
  </ul>
    <li>Para comprar un cupón solo tienes introducir los datos de tu tarjeta de crédito.</li>
    <li>Nosotros gestionamos de manera segura todos los pagos, utilizando la de de pago paymill así que no tienes que preouparte por la segura de tus datos privados.</li>
    <li>En todo momento podrás ver los cupones que has comprado. </li>
  </ul>

</ul>
<%= back_link %>
</div>