<h2> I am a customer and I want to buy a coupon </h2>
<ul>
<li>Algunos mercados ofrecen cupones para dar servicios extra a sus clientes. </li>
<li>Ejemplos de cupon: </li>
<ul>
  <li> Ofrecer un cocktail de bienvenida. No hay mejor manera de difrutar de las compras con un cocktel. </li>
  <li> Priority shooping. Invita a algunos compradores a llegar 1 hora antes a tu mercado y así se pueden aprovechar y encontrar las mejores gangas. </li>
  <li> Regalo sorpresa. Asegúrate que tus compradores se lleven algo especial a casa para recordar tu mercado. </li>
</ul>
<li>Para comprar un cupón solo tienes introducir los datos de tu tarjeta de crédito.</li>
<li>Nosotros gestionamos de manera segura todos los pagos, utilizando la de de pago paymill así que no tienes que preouparte por la segura de tus datos privados.</li>
<li>En todo momento podrás ver los cupones que has comprado. </li>
</ul>

<%= back_link %>