 <div class="terms-title" >
  <i class="fa fa-ticket fa-3x"></i>
  <br>
  I am a customer of a market and I would like to buy a coupon.
</div>

<div class="terms-content col-md-8 col-md-offset-2">
  <ul>
    <li> To provide extra services to your buyers, it is recommended to create a coupon attached to a Market. A maximum of 25 coupons can be created per Market with a value between 5 € and 25 €.</li>
    <li> Coupon examples: </li>

    <ul>
      <li> Offering a welcome cocktail. There is no better way to enjoy the shopping with a cocktail. </li>
      <li> Priority shopping. Invite some customers to arrive one hour before your market so that they can take advantage and find the best bargains. </li>
      <li> Surprise gift. Make sure your customers are taking something special home to remember your market. </li>
      <li> Your book. Everyone loves your book to be signed after an evening of poetry. </li>
    </ul>
  </ul>
  <h3> How it works </h3>

  <ul>
      <li> Some Markets offer coupons with extra services. To buy a coupon, you only have to choose the number of coupons you would like to buy, and pay with your credit card.  </li>
      <li> Payments are handled securely by using the payment service from Paymill. Dowemarket does not store any banking data or sensitive information. </li>
      <li> You can check the coupons that you have purchased anytime you want.  </li>
      <li> Each customer gets a <b>locator</b>, which should be printed and delivered to the Market owner. This code is necessary, so that we can make sure that the coupon have satisfied the service provided. </li>
      <li> Once the Market is completed, the money will be transferred in 3 working days.  </li>
      <li> For payment managing, a commission will be charged to both the buyer and that seller so that the costs are divided.  </li>
      <li> For each coupon, 0.25 Euros + 10% of the price is charged, which serves to pay transfer fees and taxes. </li>
      <li> Dowemarket is not responsible for the services offered by the Markets, in case of complaints, our team will investigate the situation, and according to the consequence, you may cancel the payment of coupons. </li>
      <li> We made a scheme within the functionality of the system, if you have any questions, please contact us using the form in the footer. </li>
  </ul>
</div>

  <div class="center">
    <%= image_tag "sell_coupon_terms.png", class:"terms-scheme-img" %>
    <br>
    <%= back_link %>
  </div>  
