 <div class="terms-title" >
  <i class="fa fa-ticket fa-3x"></i>
  <br>
  Soy cliente de un mercado y quiero comprar un cupón.
</div>

<div class="terms-content col-md-8 col-md-offset-2">
  <ul>
    <li> Para dar servicios extra a tus compradores te recomendamos crear un cupón asociado a tu Market. Se podrán crear un máximo de 25 cupones por Market con un valor de entre 5 € y 25 €.</li>
    <li> Ejemplos de coupon: </li>

    <ul>
      <li> Ofrecer un cocktail de bienvenida. No hay mejor manera de disfrutar de las compras con un cocktel.</li>
      <li> Priority shopping. Invita a algunos compradores a llegar 1 hora antes a tu mercado y así se pueden aprovechar y encontrar las mejores gangas.</li>
      <li> Regalo sorpresa. Asegúrate que tus compradores se lleven algo especial a casa para recordar tu mercado. </li>
      <li> Tu libro. A todo el mundo le gusta llevarse tu libro firmado después de una velada de poesía. </li>
    </ul>
  </ul>
  <h3> ¿Cómo funciona? </h3>

  <ul>
      <li> Algunos Markets ofrecen cupones, con servicios extra. Para comprarlos solo tienes que elegir el número de cupones que quieres y pagar con tu tarjeta de crédito. </li>
      <li> Los pagos se gestionan de manera segura utilizando la pasarela de pago Paymill. Dowemarket no almacena ningún dato bancario, ni información sensible. </li>
      <li> En todo momento podrás ver los cupones que has comprado. </li>
      <li> Cada comprador recibe un <b>localizador</b> que debe imprimir y entregar al dueño del market. Este código es necesario para poder controlar que los cupones han sido satisfechos satisfactoriamente. </li>
      <li> Una vez concluído el Market te tranferiremos el dinero en 3 días hábiles. </li>
      <li> Para poder gestionar los pagos, cargamos una comisión tanto al comprador como al vendedor, así los gastos son compartidos. </li>
      <li> Por cada cupón nos quedamos 0.25 Euros + 10% del precio :( que nos sirve para pagar los gastos de transferencia y los impuestos.</li>
      <li> Dowemarket no es responsable de los servicios ofertados por los Markets, en caso de reclamación nuestro equipo investigará la situación, actuando en consecuencia, pudiendo llegar a anular el pago de los cupones.</li>
      <li> Hemos hecho un esquema con el funcionamiento del sistema, si tienes alguna duda contáctanos utilizando el formulario en el pie de página. </li>
  </ul>
</div>

  <div class="center">
    <%= image_tag "sell_coupon_terms.png", class:"terms-scheme-img" %>
    <br>
    <%= back_link %>
  </div>  
