<div class="terms-title" >
  <i class="fa fa-users fa-3x"></i>
  <br>
  <%= t("go_premium_terms.title") %>
</div>

<div class="terms-content col-md-8 col-md-offset-4">
  <ul>
    <li>Si eres un profesional y vas a crear markets regularmente convierte tu cuenta a PRO:</li>

    <li>Las ventajas son:</li>

    <ul>
      <li> Todos tus markets son VIM <%= link_to "+info", go_vim_terms_path %></li>
      <li> Tus markets pueden durar hasta treinta días en lugar de siete </li>
      <li> Cuatro markets al mes en lugar de uno</li>
      <li> Estadísticas a tiempo real </li>
      <li> Crear cupones en todos tus markets</li>
      <li> Estadísticas a tiempo real </li>
      <li> Y por solo 4.95€ </li>
      <li> Y si no estás satisfecho te puedes desubscribir en un solo click </li>
    </ul>
  </ul>

</div>

<div class="center">
  <%= back_link %>
</div>  