<div class="terms-title" >
  <i class="fa fa-users fa-3x"></i>
  <br>
  <%= t("go_premium_terms.title") %>
</div>

<div class="terms-content col-md-8 col-md-offset-4">
  <ul>
    <li>If you are professional and you are creating markets regularly, make your account PRO:</li>

    <li>The advantages are:</li>

    <ul>
      <li> All your markets will be VIM <%= link_to "+info", go_vim_terms_path %></li>
      <li> The duartion of your markets can be up to 30 days instead of 7 </li>
      <li> 4 markets per month instead of one</li>
      <li> Real time statistics </li>
      <li> Create coupons for all of your markets</li>
      <li> For only 4.95€ </li>
      <li> And if you are not satisfied, you can unsubscribe in one click </li>
    </ul>
  </ul>

</div>

<div class="center">
  <%= back_link %>
</div>  