<div class="terms-title">
  <i class="fa fa-users fa-3x"></i>
  <br>
  <%= t("go_vim_terms.title") %>
</div>


<div class="terms-content col-md-8 col-md-offset-4">
  <ul>
    <li>Make your market VIM (very important market) and enjoy the exclusive advantages:</li>

    <ul>
      <li> Priority in search results </li>
      <li> Extra images </li>
      <li> Without advertisements </li>
      <li> Real time statistics </li>
      <li> Posibility to create coupons </li>
      <li> Links to your blog or your event on Facebook </li>
      <li> For only 2.95€ </li>
    </ul>
  </ul>

</div>

<div class="center">
  <%= back_link %>
</div>  