<div class="terms-title">
  <i class="fa fa-users fa-3x"></i>
  <br>
  <%= t("go_vim_terms.title") %>
</div>


<div class="terms-content col-md-8 col-md-offset-4">
  <ul>
    <li>Convierte tu market a VIM (very important market) y disfruta de ventajas exclusivas:</li>

    <ul>
      <li> Prioridad en las búsquedas </li>
      <li> Imágenes extra </li>
      <li> Sin publicidad </li>
      <li> Estadísticas a tiempo real </li>
      <li> Posibilidad de crear cupones </li>
      <li> Links a tu blog y a tu evento de facebook </li>
      <li> Y por solo 2.95€ </li>
    </ul>
  </ul>

</div>

<div class="center">
  <%= back_link %>
</div>  