<div class="jumbotron hero-spacer">
    <h1>Welcome to Personal Markets!</h1>
    <p>Here the amazing personal shooping platform.</p>
    <p><a class="btn btn-primary btn-large">Go !</a>
    </p>
</div>
