<div id="home-container">
  <section id="slideshow">
    <%= javascript_include_tag "jquery.slides" %>
  
    <div id="slides">
      <img src="images/11.png">
      <img src="images/22.png">
      <img src="images/33.png">
      <img src="images/44.png">
    </div>
  <div id="search-sample" onclick="goToSearchQuery();">
  	<span id="search_time" class="search-field">Este finde</span> quiero ir de markets por 
  	<span id="search_place" class="search-field">Madrid</span> en busca de 
  	<span id="search_item1" class="search-field">vinilos</span> y 
  	<span id="search_item2" class="search-field">videojuegos</span>.
  </div>
  </section>
  
  <section id="special_locations">
  </section>
  
  <section id="wishes">
  </section>

</div>

<style>
	#search-sample{
		position:absolute;
		z-index:10;
		max-width: 80%;
		font-weight:200;
		font-size:24px;
		color:#FFFFFF;
		text-shadow: 2px 2px 5px #222222;
		cursor:pointer;
	}
	.search-field{
		text-decoration: underline;
	}

	#home-container{
		margin-bottom:80px;
	}
</style>

<script>
  $.get( "markets/published", function( data ) {
    $( "#markets" ).html( data );
  });

  $.get( "special_locations", function( data ) {
    $( "#special_locations" ).html( data );
  });

  $.get( "wishes", function( data ) {
    $( "#wishes" ).html( data );
  });

	var searchTimeArray = ["Este finde", "Mañana", "La semana que viene", "Este mes", "Este viernes"];
  var searchPlaceArray = ["Madrid", "Barcelona", "Sevilla", "Valencia", "Bilbao", "malasaña", "lavapiés", "el born", "poblenou"];
  var searchItem1Array = ["bici", "libros", "flores", "CD", "vinilos"];
  var searchItem2Array = ["alcohol", "pinturas", "moto", "moviles", "videojuegos"];
	

  $(document).ready(function(){
  	changeSearchItems("#search_time",searchTimeArray);
  	changeSearchItems("#search_place",searchPlaceArray);
  	changeSearchItems("#search_item1",searchItem1Array);
  	changeSearchItems("#search_item2",searchItem2Array);
  	
    $("#slides").slidesjs({
      width: 1000,
      height: 300,
      navigation: {
        active: false,
        effect: "fade"
      },
      play: {
        active: false,
        effect: "fade",
        interval: 4000,
        auto: true,
        swap: false,
        pauseOnHover: false,
        restartDelay: 1000
      },
      effect: {
        fade: {
          speed: 1000,
          crossfade: true
        }
      },
      pagination: {
        active: false
      }
    });

    centerSearchDiv();
  	window.onresize = function(){
			centerSearchDiv();
  	};
  });

  

  var centerSearchDiv = function(){
  	$( "#search-sample" ).position({
  		my: "center center",
  		at: "center center",
  		of: "#slides"
		});
  };

  var changeSearchItems = function(span, array){
  	setInterval(function(){
			rand = Math.floor(Math.random() * array.length);
			 $(span).html(array[rand]);
			 centerSearchDiv();
  	}, 3000);
  }

  var goToSearchQuery = function(){
  	var URL = "/search?query=" + $("#search_item1").html();
  	window.location.href = URL;
  };

</script>