<div class="jumbotron hero-spacer">
  <h1>Welcome to Personal Markets!</h1>
  <p>Here the amazing personal shooping platform.</p>
  <%= link_to "Go!", maps_path, class: "btn btn-primary btn-large" %>
</div>
