

  <section id="slideshow">
    <%= javascript_include_tag "jquery.slides" %>

    <div id="slides">
      <img src="images/11.png">
      <img src="images/22.png">
      <img src="images/33.png">
      <img src="images/44.png">
    </div>
	<div id="search-sample">
		<span>Este finde</span> quiero ir de markets por 
		<span>Madrid</span> en busca de 
		<span>vinillos</span> y 
		<span>videojuegos</span>.
	</div>
  </section>

  <section id="wishlist">
  </section>

<style>
#slideshow{
	/* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

#search-sample{
	position:absolute;
	z-index:10;
	display:inline;
	top:100%;
	left:12px;
	margin-top:-48px;
	font-weight:200;
	font-size:30px;
	line-height: 60px;
	color:#FFFFFF;
	text-shadow: 2px 2px 5px #222222;
}
</style>

    <script>
      $(document).ready(function(){
        $("#slides").slidesjs({
          width: 1000,
          height: 500,
          navigation: {
            active: false,
            effect: "fade"
          },
          play: {
            active: false,
            effect: "fade",
            interval: 2000,
            auto: true,
            swap: false,
            pauseOnHover: false,
            restartDelay: 1000
          },
          effect: {
            fade: {
              speed: 1000,
              crossfade: true
            }
          },
          pagination: {
            active: false
          }
        });
      });
    </script>