<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Home page</h3>
              <ul class="nav masthead-nav">
                <li class="active">
                  <%= link_to "Add market", "/markets/new"  %>
                <li><a href="#">Spaces</a></li>
                <li><a href="#">Users</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <p class="lead">
             <%= image_tag("magdalenasFederico.png")%>
            </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">
                Go</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>