<div class="panel panel-default">
<ul class="list-group">
<li class="list-group-item"><%= link_to "Browse users", "/users"  %> </li>
<li class="list-group-item"><%= link_to "Browse markets", "/markets" %></li>
</ul>
</div>