<div>
  <button type="button" id="theme-default">Default</button>
  <button type="button" id="theme-antique">Antique</button>
  <button type="button" id="theme-strawberry">Strawberry</button>
  <button type="button" id="theme-night">Night</button>
  <button type="button" id="theme-sky">Sky</button>
  <button type="button" id="theme-light">Light</button>
</div>

<div id="map"></div>
