<%= stylesheet_link_tag 'maps'%>
<%= stylesheet_link_tag 'markets/tooltip'%>
<%= javascript_include_tag 'maps' %>

<div id="gallery-items"> </div>
<div id="map"></div>

<div id="map_theme_buttons" class="btn-group-vertical">
  <% Category.each do |category| %>
    <%= formatted_button(category) %>
    <% end %>
</div>
 

<script>
  $(document).ready(function(){


      $('#search_bar_query').focus();
    $('#search_market').change(jsonSearch);
    $('#search_bar_query').change(jsonSearch);
    jsonSearch();
      
      $('#location_location_id').change(function(){
        if($(this).val() == "Any location") return;
        else if($(this).val() == "My location" ) PM.setViewWithUserLocation();
        else{
          $.get( "get_location.json", { name: $(this).val()}, function( data ) {
            PM.map.setView([data.latitude, data.longitude], 14);
          });
        }
      });

      $('#city_city_name').change(function(){
         if($(this).val() == "Any city") return;
         else{
           var city = encodeURIComponent($(this).val());
           var adr = "http://maps.googleapis.com/maps/api/geocode/json?address=" + city + "&sensor=false";
           $.get( adr, function(data){
             var coords = data.results[0].geometry.location;
             PM.map.setView([coords.lat, coords.lng], 14);
           });
        }
      });

      PM.initializeMap();
      
      $('.theme').click(function (){
          PM.changeTile($(this).attr('id'));
          $("#category_category_id").val($(this).attr('title')); 
          $('form').change();
        }
      );
  });

</script>
