<div>
  <button type="button" id="theme-default">Garage sale</button>
  <button type="button" id="theme-antique">Ropa</button>
  <button type="button" id="theme-strawberry">Strawberry</button>
  <button type="button" id="theme-night">Cenas</button>
  <button type="button" id="theme-sky">Fashion</button>
  <button type="button" id="theme-light">Jewellery</button>
</div>

<div id="map"></div>
