<div class="terms-title">
  <i class="fa fa-smile-o fa-3x"></i>
  <br>
  Política de protección y privacidad de datos
</div>
<div class="terms-content col-md-8 col-md-offset-2">
  <p><strong>GENERAL</strong></p>
  <p>En DO WE MARKET, S.C. (“dowemarket”) nos tomamos las políticas de privacidad muy en serio, y de conformidad con la ley orgánica 15/1999, de 13 de diciembre, de protección de datos de carácter personal y su normativa de desarrollo queremos informarte sobre nuestra recopilación y uso de la información y datos personales que nos proporciones a través de nuestro de dowemarket.com (“nuestra web”)</p>
  <p>Al registrarte en nuestra web y usar los servicios que ofrecemos das tu consentimiento voluntaria y libremente para que en dowemarket podamos recopilar, usar y divulgar los datos de carácter personal que nos proporciones relativos al acceso y uso de nuestra web.</p>
  <p>Siguiendo la ley orgánica de protección de datos estos datos serán automatizados e incorporados a ficheros automatizados, siendo dowemarket.com responsable de estos ficheros, los cuales, conforme a la normativa vigente, se encuentran debidamente registrados conforme a la normativa vigente en el Registro General de la Agencia de Protección de Datos.</p>

  <p><strong>DATOS PERSONALES E INFORMACIÓN</strong></p>
  <p>En dowemarket.com podemos recopilar, usar y procesar los siguientes datos personales e información.</p>
  <p>DATOS PERSONALES</p>
  <p>Para registrarte como usuario en dowemarket.com es indispensable que nos facilites los siguientes datos y declarar que son veraces en la medida de tu conocimiento:</p>
  <p>1. Dirección de correo electrónico</p>
  <p>2. Contraseña de acceso</p>
  <p>* Como creador de un “market” te pediremos que completes los campos cuya cumplimentación es necesaria para la publicación de un “market”.</p>
  <p>La finalidad de estos datos es la creación de una cuenta usuario en nuestra web para el acceso y el uso de la misma, así como el aprovechamiento de todas los servicios ofrecidos en nuestra web. Nosotros sólo recopilamos información cuando tu eliges proporcionárnosla</p>

  <p><strong>*EL SIGUIENTE PARRAFO, TENEMOS QUE DECIDIR, VAMOS USAR EMAIL PARA ENVIAR INFO, PROMOCIONES…???</strong></p>
  <p>En el caso de la dirección de correo electrónico facilitada, y los datos que nos proporciones a través de la misma, serán utilizados únicamente para atender las consultas y mejorar nuestro servicio.</p>
  <p>O</p>
  <p>Así mismo, al registrarte como usuario aceptas que dowemarket.com te remitan información a tu correo electrónico sobre los servicios y productos que podamos comercializar.</p>

  <p><strong>DEBEMOS INCLUIR ESTO?</strong></p>
  <p>Puedes pedirnos que no te enviemos comunicaciones a tu e-mail desde la web (sección "tus notificaciones")</p>
  <p>Dowemarket.com podrá también recopilar y hacer uso de la siguiente información.</p>
  <p>1. Un registro de todos los “markets” publicados y/o cupones emitidos.</p>
  <p>2. Un registro entre toda la correspondencia entre el usuario y dowemarket.com, así como información complementaria que se pudiera pedir durante la existencia de un problema en nuestra web.</p>
  <p>3. Detalles de las visitas y acceso a la web por parte de los usuarios, respuestas a encuestas o preguntas con fines investigativos y de mejora de los servicios a los que el usuario se suscribe, así como gestión y administración de nuestra web.</p>
  <p>4. Transacciones económicas, recoger los pagos que se realicen?????? ESTO NO LO TENGO CLARO, MEJOR LO PONEMOS Y NOMBRAMOS PAYMILL Y PAYPAL????</p>
  <p><i>EJEMPLO TEXTO BLABLACAR 2.1.7 Los detalles de las transacciones económicas, incluyendo las transacciones realizadas a través de la web o de cualquier otro medio. Esto puede incluir información tal como su tarjeta de crédito, tarjeta de débito o cuenta bancaria, detalles de viajes (como se describe en las Condiciones) que ha reservado u ofrecido a través de la web;</i></p>

  <p><strong>USO DE TU INFORMACIÓN</strong></p>
  <p>En el caso de cobrar, recoger o transferirse algún dinero en relación con los servicios de nuestra web, el crédito o los pagos con tarjeta de débito, ​​puede que tengamos que usar/proporcionar algunos detalles necesarios para que los pagos sean procesados correctamente por nuestros procesadores de pagos. Especificamos que solo es el mail?</p> 
  <p>Ningún tercero ajeno a dowemarket.com podrá acceder en ningún caso directamente, sin el consentimiento expreso del usuario a sus datos personales excepto:</p>
  <p>1. Si estamos bajo la obligación de revelar o compartir tus datos personales o cualquier otra información que sea requerida de conformidad con las disposiciones legales y reglamentarias aplicables al caso, con el fin de cumplir con cualquier obligación legal. En cualquier caso nos comprometemos a informarte que, en caso de que se vaya a realizar la cesión a terceros de sus datos personales, especificando la identidad de los cesionarios y la finalidad con que se van a tratar los datos cedidos. </p>
  <p>2. Con el fin de aplicar y cumplir nuestras condiciones de uso, términos y condiciones designados para el uso de la totalidad de nuestra web; facilitando que nuestros servicios que resulten aplicables correctamente.</p>
  <p>3. EJEMPLO – ALGO ASI NOS INTERESARIA PONERLO,NO? podemos transferir su información personal a un tercero como parte de una venta de parte o de la totalidad de nuestro negocio y activos a un tercero o como parte de una restructuración o reorganización empresarial, pero vamos a tomar medidas con el fin de asegurar que su derechos a la privacidad siguen protegidos;</p>

  <p><strong>PRIVACIDAD</strong></p>
  <p>Como usuario de dowemarket.com no aparecerá ningún dato personal que sea visible a través de nuestra web.</p>
  <p>DE LOS USUARIOS INSCRITOS QUE NO PUBLIQUEN NADA QUE INFO SE VE?</p>
  <p>Al publicar tu “market” será visible toda la información de los campos que es necesario completar para publicar un “market” DECRIPCION, CATEGORIA… NECESITAREMOS ESPECIFICARLOS???</p>
  <p>Además el usuario podrá facilitar voluntariamente, en caso de publicar un “Market VIM” links a otras páginas webs, blogs y/o perfiles de su redes sociales.</p>
  <p>LINKS CON FB, BLOGS, WEB´S… NECESITAREMOS ESPECIFICARLOS???</p>

  <p><strong>NUESTRO COMPROMISO</strong></p>
  <p>En cumplimiento con su obligación en dowemarket.com nos comprometemos a adoptar las medidas necesarias para el tratamiento de los datos de carácter personal, evitando alteraciones, pérdidas y acceso no autorizado, y nunca se facilitará tu información a terceros ni se utilizara para ninguna operación de comercialización con terceros. (Exceptuando los puntos 1, 2 y 3 mencionados en el apartado USO DE TU INFORMACIÓN)</p>
  <p>El usuario siempre estará en su derecho de rectificar y/o cancelar los datos facilitados, así como dar de baja sus “markets” publicados como su cuenta de usuario.                   EL USUARIO PUEDE ELIMINAR LOS MARKETS?</p>
  <p>Nuestra web publicará cualquier cambio en nuestra política de protección y privacidad de datos para asegurarte de que siempre estés informado sobre como recopilamos y utilizamos la información que decides compartir con nosotros.</p>

  <p><strong>QUE SON LAS COOKIES</strong></p>
  <p>DESCRIPCION DE LAS COOKIES</p>
  <p>Hay que completarlo…</p>
  <p>Dowemarket.com está obligado a obtener el consentimiento del usuario para utilizar cookies, por lo que se comunica la existencia de "cookies" en la página de inicio de nuestra web. Si el usuario continua utilizando nuestra web después de haber visto el aviso, asumimos que estás de acuerdo en que utilicemos las cookies descritas.</p>
  <p>Si decide no aceptar las cookies, esto no afectará a su acceso a la mayoría de la información disponible en el Sitio. Sin embargo, usted no será capaz de hacer pleno uso de nuestros servicios online. INCLUIMOS TB ESTO?</p>

  <p><strong>ACCESO, RECITIFICACIÓN, CANCELACIÓN Y OPOSICIÓN</strong></p>
  <p>Siguiendo los términos y las limitaciones establecidos la normativa vigente, como usuario titular de los datos personales podrás ejercer los derechos de acceso, rectificación, cancelación y oposición mediante las siguientes vías alternativas.</p>
  <p>1. ES NECESARIO QUE TAMBIEN PUEDA HACERSE A NUESTRO DOMICILIO SOCIAL?</p>
  <p>2. Enviándonos un correo electrónico a dowemarket@ indicando en el asunto “cancelación de datos personales” con los siguientes datos:</p>
  <p>a. Nombre de usuario</p>
  <p>b. Dirección de correo electrónico con la que te diste de alta (e-mail)</p>
  <p>c. Contraseña de acceso a tu cuenta</p>
  <p>d. Fotocopia del dni o pasaporte</p>
  <p>e. Dirección postal y teléfono de contacto</p>
  <p>3. Mediante el formulario online "darse de baja" que encontraras en todos nuestros correos electrónicos y comunicaciones que recibas por parte de dowemarket.com.</p>
  <p>ESTO LO VAMOS A TENER?</p>
  <p>Transmisión de tu información fuera de Europa???</p>
  <p>TENEMOS QUE ESPECIFICAR ALGO?</p>

  <p><strong>OTROS SITIOS WEB</strong></p>
  <p>Si nuestra web contiene enlaces y referencias a otros sitios web el usuario deberá tener  en cuenta que nuestra Política de Protección y Privacidad no se aplicará a estas web´s.</p>
  <p>Ya que no podemos hacernos responsables de las políticas de privacidad de terceros, incluso aunque se acceda a través de nuestra web.</p>

  <p><strong>CONTACTO</strong></p>
  <p>Si deseas contactar con nosotros y ofrecernos tus puntos de vista acerca de nuestras prácticas de privacidad y protección de datos, o con cualquier otra consulta relacionada con los datos que nos facilitas, puede hacerlo siempre que quieras a través de nuestro email de contacto, dowemarke@</p>
  
  <div class="center">
    <%= back_link %>
  </div>  
</div>

