<div class="terms-title">
  <i class="fa fa-smile-o fa-3x"></i>
  <br>
  PRIVACY AND DATA PROTECTION
</div>
<div class="terms-content col-md-8 col-md-offset-2">
  <p class="terms-chapter-title"><strong>GENERAL</strong></p>
  <p>In DO WE MARKET, S.C. (“dowemarket”) we take the privacy policy very seriously. In accordance with the Organic Law 15/1999, December 13 on the protection of personal data and its implementing regulations, we inform you about our collection and use of information and personal data that you provide through dowemarket.com ("our website”).</p>
  <p>By registering on our website and use our services, you are giving your voluntary consent and freely so that in dowemarket we can collect and use the personal information you provide concerning the accessibility and usability of our website. </p>
  <p>Following the organic law of data protection, this data will be automated and incorporated into automated files, which are responsible by dowemarket.com, according to current regulations are duly registered under the laws in the General Registry of the Data Protection Agency.</p>

  <p class="terms-chapter-title"><strong>PERSONAL DATA AND INFORMATION</strong></p>
  <p>In dowemarket.com, we may collect, use and process the following personal data and information.</p>
  <p>PERSONAL DATA</p>
  <p>To register as a user on dowemarket.com, it is essential to provide us with the following data, and state that they are true to the best of your knowledge:</p>
  <p class="with-indent">1. Your e-mail address</p>
  <p class="with-indent">2. Password</p>
  <p class="with-indent">* As the creator of a “market”, it is requested to complete the fields which are necessary for the publication of a "market".</p>
  <p>The purpose of these data is the creation of a user account on our website for your access, and also, for the use of all the services offered on our website. We only collect information when you choose to provide it.</p>
  <p>The e-mail address and the information you provided will be used only in respond to inquiries and for improving our service. </p>
  <p>Dowemarket.com may also collect and use the following information:</p>
  <p class="with-indent">1. A record of all "markets" published and/or coupons issued. </p>
  <p class="with-indent">2. A record of all correspondence between you and dowemarket.com, and additional information that may be requested when a problem occurred in our web. </p>
  <p class="with-indent">3. Details of visits and user access to the website, survey responses or questions for research purposes and to improve the services to which you subscribe, as well as management and administration of our website.</p>

  <p class="terms-chapter-title"><strong>USE OF YOUR INFORMATION</strong></p>
  <p>In the case of charging, collecting or transferring any money in connection with our web services, credit or debit card payments, we will only use the e-mail address you provided, the payments are properly processed by our payment processors. </p>
  <p>In no case the data from the credit or debit cards will be stored. </p>
  <p>In any case, no third party will have direct access to dowemarket.com to user personal information without the express consent from the user, except:</p>
  <p class="with-indent">1. If we are under a duty to disclose or share your personal data or any other information that is required under the laws and regulations applicable to the case, in order to comply with any legal obligation provisions. In any case we inform you that, in case of the transfer of personal data to third parties, we are specifying the identity of the recipients and the purpose of the user of these data. </p>
  <p class="with-indent">2. In order to implement and comply with our terms of use, terms and conditions designated for the use of our website; in order to make sure that our services are processed correctly.</p>
  <p class="with-indent">3. We may transfer your personal information to third parties as part of a sale of part or all of our business to a third party or as part of a restructuring or corporate reorganization. We always take measures in order to ensure that your rights to privacy remain protected.</p>

  <p class="terms-chapter-title"><strong>PRIVACY</strong></p>
  <p>As a user of dowemarket.com any personal data that is visible throughout our website will not appear. </p>
  <p>By posting your “market", all the information in the fields which are required to publish a complete “market" will be visible. </p>
  <p>In addition, the user may provide voluntarily links to other websites, blogs and / or your social networking profiles in a “VIM Market”.  </p>                   

  <p class="terms-chapter-title"><strong>OUR COMMITMENT</strong></p>
  <p>In compliance with its obligation, in dowemarket.com we are committed to take the necessary measures for the treatment of personal data, preventing alteration, loss and unauthorized access, and your information will never be provided to third parties or used for any operation marketing with third parties. (Except the points 1, 2 and 3 referred to in paragraph USE OF YOUR INFORMATION) </p>
  <p>Users will always have their rights to modify and/or cancel the data provided, and terminate their "markets" published with their user account. </p>
  <p>Our website will publish any changes to our privacy policy and data protection, to ensure that you are always informed about how we collect and use the information you choose to share with us.</p>

  <p class="terms-chapter-title"><strong>DATA ACCOMMODATION</strong></p>
  <p>For technical reasons and considerations of service quality, our website is hosted on the servers of Digital Ocean that are adhered to the principles of Safe Harbor, according to Decision 2000/520/EC of the Commission on July 26, 2000, making it an entity with an adequate level of protection within the meaning of the Data Protection Act.</p>

  <p class="terms-chapter-title"><strong>ACCESS, RECTIFICATION, CANCELLATION AND OPPOSITION </strong></p>
  <p>Following the terms and limitations set out by the regulations, as a user you can exercise the rights of access, rectification, cancellation and opposition of your personal information by:</p>
  <p>1. An e-mail to info@dowemarket.com with the subject “cancellation of personal information" with the following data: </p>
  <p>2. A written and signed application to our registered office, DO WE MARKET SC, calle Donoso Cortes 8, 1C, 28015 Madrid, indicating the "Cancellation Policy" request.</p>
  <p>In both options you must include the following information: </p>
  <p class="with-indent">a. Username </p>
  <p class="with-indent">b. E-mail address with which you signed up</p>
  <p class="with-indent">c. Password to access your account</p>
  <p class="with-indent">d. Photocopy of ID or passport</p>
  <p class="with-indent">e. Mailing address and telephone numbe</p>

  <p class="terms-chapter-title"><strong>OTHER WEBSITES</strong></p>
  <p>If this website contains links and references to other websites, the user should be aware that our Privacy Protection Policy does not apply to these websites. </p>
  <p>We can not take responsibility for the privacy policies of third parties, even if accessed through our website.</p>

  <p class="terms-chapter-title"><strong>CONTACT</strong></p>
  <p>If you wish to contact us and give us your views about our privacy practices and data protection, or any of your other data that you provide to us, you can contact us anytime through our email, info@dowemarket.com.</p>

  <p class="terms-chapter-title"><strong>COOKIES POLICY </strong></p>
  <p>In doewemarket.com, we inform you about the existence of "cookies" on our website. We are required to obtain user consent to use cookies, on the homepage of our website the existence of "cookies" is informed. If the user continues to use our website after seeing the notice, we assume that you agree to use the cookies described. </p>
  <p>We use cookies to enhance, facilitate and personalize your browsing as a user. Cookies are small text files that a website server stores in the user's browser. Thus, when you return to visit the website, the cookies will identify you as a user and will set your navigation preferences.</p>
  <p>Our website use these cookies:</p>
  <p><strong>Performance cookies, </strong> for easy navigation and record user preferences.</p>
  <p><strong>Session cookies</strong> are generated once the user is registered. These cookies are necessary to access the services or content for registered users, enabling an easy navigation without having to identify themselves. This functionality is deleted when the user clicks "logout", thus these cookies are deleted. The next time the user logs on to our web, it is necessary to sign in again to identify. </p>
  <p>Additionally, some services may use links with social networks, such as Facebook or Twitter. When the user is logged into a social network service, it authorizes the social network to keep a persistent cookie to remember your identity and guarantee access to these services until it expires.</p>
  <p><strong>Web analytics cookies</strong> are used to analyze the visits and navigation time through our website anonymously. The information collected from these cookies, which are only generated in the visit, is directly transmitted and stored on the servers of the service providers. </p>
  <p><strong>Geo-location cookies</strong> are used to find out from which country is the visit when a service is requested. these cookies are completely anonymous, and will only be used to target the contents according to your location. </p>
  <p><strong>Advertising Cookies</strong> These cookies provides more information of the advertisement displayed to the user anonymously, allowing us to offer the most appropriate advertising according to user interests.</p>
  <p><strong>Cookies from third party advertisements,</strong> many advertisements that may display on the website are generated by third parties; these third parties may store cookies on your browser while you are navigating dowemarket.com. The companies that generate these cookies have their own privacy policies.</p>
  <p><strong>Other third party cookies,</strong> third parties may store cookies on your browser while browsing our website, such as when a button to share content in a social network is used. The companies that generate these cookies have their own privacy policies.</p>
  <p>You can set your browser to allow, block or delete cookies installed on your computer. To manage your cookie preferences in the most common browsers, we provide the following links:</p>
  <p class="with-indent">Chrome: <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647">http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</a></p>
  <p class="with-indent">Firefox: <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></p>
  <p class="with-indent">Internet explorer: <a href="http://support.microsoft.com/kb/196955">http://support.microsoft.com/kb/196955</a></p>
  <p class="with-indent">Safari: <a href="http://support.apple.com/kb/ph5042">http://support.apple.com/kb/ph5042</a></p>
  
  <div class="center">
    <%= back_link %>
  </div>  
</div>

