<div class="terms-title" ><i class="fa fa-ticket fa-3x"></i><br>I am a market owner and I want to sell coupons. </div>

<div class="terms-content col-md-8 col-md-offset-2">
<ul>
<li> Para dar servicios extra a tus compradores te recomendamos crear un cupón asociado a tu market. </li>
<li> Ejemplos de coupon: </li>
  <ul>
    <li> Ofrecer un cocktail de bienvenida. No hay mejor manera de difrutar de las compras con un cocktel. </li>
    <li> Priority shooping. Invita a algunos compradores a llegar 1 hora antes a tu mercado y así se pueden aprovechar y encontrar las mejores gangas. </li>
    <li> Regalo sorpresa. Asegúrate que tus compradores se lleven algo especial a casa para recordar tu mercado. </li>
   </ul>
   <li> Los compradores compran el cupón a través de nuestra página y nosostros nos encargamos de acerte llegar el dinero de tus ventas justo despué de que concluya el mercado. </li>
   <li> Tu no tienes que hacer nada, nosotros gestionamos de manera segura todos los pagos </li>
    <li> Solo los mercados Premium pueden emitir cupones. </li>
   <li> En todo momento podrás ver los cupones que has vendido. </li>
   <li> Para que te ingresemos el dinero necesitatás una cuenta Paypal. Si no tienes, no te preocupes se hace en 5 minutos; nosotros te indicaremos cómo, cuando llegue el momento. </li>
   <li> Para poder gestionar los pagos, cargamos una pequeña comisión tanto al comprador como al vendedor, así los gastos son compartidos. </li>
   <li> Todo está gestionado, de manera segura, utilizando la pasarelas de pago paymill y paypal, así que no tienes que preouparte por la segura de tus datos privados.</li>
  </ul>
</ul>
<%= back_link %>
</div>
