 <div class="terms-title" >
  <i class="fa fa-ticket fa-3x"></i>
  <br>
  I am the owner of a market and I would like to sell coupons.
</div>

<div class="terms-content col-md-8 col-md-offset-2">
  <ul>
    <li> To give extra services to your customers, we recommend you to create a coupon attached to your Market. </li>
    <li> Coupon examples: </li>

    <ul>
      <li> Offering a welcome cocktail. There is no better way to enjoy the shopping with a cocktail. </li>
      <li> Priority shopping. Invite some customers to arrive one hour before your market so that they can take advantage and find the best bargains. </li>
      <li> Surprise gift. Make sure your customers are taking something special home to remember your market. </li>
      <li> Your book. Everyone loves your book to be signed after an evening of poetry. </li>
    </ul>
  </ul>
  <h3> How it works </h3>

  <ul>
      <li> Customers are going to buy the coupon through our website, and we are going to send you the money from your sales immediately after finishing the market. </li>
      <li> You do not have to do anything, we will handle all the payments. </li>
      <li> Only VIM (Very Important Markets) or PRO sellers could attach coupons. </li>
      <li> Payments are handled securely with Paypal payment service. Dowemarket does not store any banking data or sensitive information. </li>
      <li> You are able to check the coupons that you have sold anytime you wish. </li>
      <li> Each customer gets a <b>locator</b> that should be given to the owner of the Market. This code is necessary, so that we can make sure that the coupon have satisfied the service provided. </li>
      <li> Once the Market is completed, the money will be transferred in 3 working days. </li>
      <li> For transferring the money you'll need a Paypal account associated with your email address. If you don’t have Paypal, don’t worry, it will take only 5 minutes, and we will help you to create one, whenever it’s necessary. </li>
      <li> For payment managing, a commission will be charged to both the buyer and that seller so that the costs are divided. </li>
      <li> For each coupon, 0.25 Euros + 10% of the price is charged, which serves to pay transfer fees and taxes. </li>
      <li> Dowemarket is not responsible for the services offered by the Markets, in case of complaints, our team will investigate the situation, and according to the consequence, the payment of coupons may be canceled. </li>
      <li> We made a scheme within the functionality of the system, if you have any questions, please contact us using the form in the footer. </li>
  </ul>
</div>

  <div class="center">
    <%= image_tag "sell_coupon_terms.png", class:"terms-scheme-img" %>
    <br>
    <%= back_link %>
  </div>  

