 <div class="terms-title" >
  <i class="fa fa-ticket fa-3x"></i>
  <br>
  Soy el dueño de un Market y quiero vender cupones.
</div>

<div class="terms-content col-md-8 col-md-offset-2">
  <ul>
    <li> Para dar servicios extra a tus compradores te recomendamos crear un cupón asociado a tu market.</li>
    <li> Ejemplos de coupon: </li>

    <ul>
      <li> Ofrecer un cocktail de bienvenida. No hay mejor manera de difrutar de las compras con un cocktel.</li>
      <li> Priority shopping. Invita a algunos compradores a llegar 1 hora antes a tu mercado y así se pueden aprovechar y encontrar las mejores gangas. </li>
      <li> Regalo sorpresa. Asegúrate que tus compradores se lleven algo especial a casa para recordar tu mercado. </li>
      <li> Tu libro. A todo el mundo le gusta llevarse tu libro firmado después de una velada de poesía. </li>
    </ul>
  </ul>
  <h3> ¿Cómo funciona? </h3>

  <ul>
      <li> Los clientes compran el cupón a través de nuestra página y nosostros nos encargamos de acerte llegar el dinero de tus ventas justo después de que concluya el mercado. </li>
      <li> Tu no tienes que hacer nada, nosotros gestionamos todos los pagos. </li>
      <li> Solo los mercados Very Important Markets o vendedores PRO pueden emitir cupones.</li>
     <li> Los pagos se gestionan de manera segura utilizando la pasarela de pago Paypal. Dowemarket no almacena ningún dato bancario, ni información sensible. </li>
      <li> En todo momento podrás ver los cupones que has vendido.</li>
      <li> Cada comprador recibe un <b>localizador</b> que debe entregar al dueño del market. Este código es necesario para poder controlar que los cupones han sido satisfechos satisfactoriamente. </li>
      <li> Una vez concluído el Market te tranferiremos el dinero en 3 días hábiles. </li>
      <li> Para que te ingresemos el dinero necesitatás una cuenta Paypal asociada con tu correo electrónico. Si no tienes, no te preocupes se hace en 5 minutos; nosotros te indicaremos cómo, cuando llegue el momento. </li>
      <li> Para poder gestionar los pagos, cargamos una comisión tanto al comprador como al vendedor, así los gastos son compartidos. </li>
      <li> Por cada cupón nos quedamos un 15% :( que nos sirve para pagar los gastos de transferencia y los impuestos.</li>
      <li> Dowemarket no es responsable de los servicios ofertados por los Markets, en caso de reclamación nuestro equipo investigará la situación, actuando en consecuencia, pudiendo llegar a anular el pago de los cupones.</li>
      <li> Hemos hecho un esquema con el funcionamiento del sistema, si tienes alguna duda contáctanos utilizando el formulario en el pie de página </li>
  </ul>
</div>

  <div class="center">
    <%= image_tag "sell_coupon_terms.png", class:"terms-scheme-img" %>
    <br>
    <%= back_link %>
  </div>  

