<div class="terms-title" ><i class="fa fa-cogs fa-3x"></i><br> Settings </div>
<div class="terms-content col-md-8 col-md-offset-2">
<ul>
<li>Settings 1</li>
<ul>
  <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
</ul>
<li>Settings 2</li>
<ul>
  <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
</ul>
<li>Settings 3</li>
<ul>
  <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
</ul>
<li>Settings 4</li>
<ul>
  <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
</ul>
<li>Settings 5</li>
<ul>
  <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
</ul>
</ul>
<%= back_link %>
</div>