<div class="terms-title" >
  <i class="fa fa-smile-o fa-3x"></i>
  <br>
  TERMS AND USE CONDITIONS
</div>

<div class="terms-content col-md-8 col-md-offset-2">
  <p>DO WE MARKET S.C. is a Spanish company with CIF J87087870, situated in calle Donoso Cortes 8, 1C, 28015 Madrid, hereinafter dowemarket.com, which acts as an online platform for the creation and dissemination of "markets" through its web page, hereinafter, our website</p>
  <p>Dowemarket.com is an online search platform for the creation and dissemination of Markets and Pop-Up Stores at home or other temporary locations chosen for the purpose of facilitating the buying and selling new and second hand items from one user to another, and the organization of events, workshops and or issuing "coupons" for sale or services provided by the owner of a “market".</p>
  <p>Dowemarket.com gives its users the option to disseminate and publicize their physical creations and/or knowledge, without investing in a space or in building and launching websites.</p>
  <p>Through our website, dowemarket.com provides the access and use of a range of services, both free and paid, available to the users of dowemarket.com or other users.</p>

  <p><strong>DEFINITIONS AND KEYWORDS</strong></p>
  <p>MARKET</p>
  <p>If you are already registered user, you can open your own "market" giving the name and description that you choose, selecting a category and adding three photos relating to products or services to offer. Also the creator user of a "market" should select the date and time of the "market", along with the address for the "market" which can be located on maps search. </p>
  <p>Each user will have the opportunity to create one "market" for free per month. </p>
  <p>The "market" will not be visible to other users until it is published. Dowemarket.com also provides the ability to print QR codes to the creator of a "market".</p>
  <p>VIM MARKET OR VERY IMPORTANT MARKET</p>
  <p>We also provide the users the possibility of creating a “VIM market" paying €2.99, in order to add more photos to their "market", create “coupons”, or link their "market" to other websites.</p>
  <p>PRO ACCOUNTS</p>
  <p>The PRO Account plan offers the user a paid account for 5.99 €, which the user can unsubscribe at any time. With a "PRO account" the user has the advantage of being able to convert all "markets" to "VIM markets"</p>
  <p>COUPONS</p>
  <p>To provide extra service to the customers, users of “PRO Account" can create a "coupon" associated with his “VIM market", each market can have up to 25 coupons whose value must be between 5 € and 25 €. </p>
  <p>Customers will buy the "coupon" through our website and dowemarket.com is responsible for transferring the money to the owner of a "market" right after the end of the "market". Dowemarket.com will handle all the payments which are managed safely using Paypal payment gateway. Dowemarket does not store any banking data or sensitive information. </p>
  <p>Only “VIM markets" or PRO users can create coupons. At any time you will see the coupons you've sold.</p>
  <p>Once the Market is completed, the money will be transferred in 3 working days. For transferring the money you'll need a Paypal account associated with your email address. If you don’t have Paypal, don’t worry, it will take only 5 minutes, and we will help you to create one, whenever it’s necessary.</p>
  <p>For payment managing, a commission will be charged to both the buyer and that seller so that the costs are divided.</p>
  <p>As a buyer of a coupon, you just need to choose the number of coupons you want and pay with your credit card. Payments are handled securely by using the payment service from Paymill. Dowemarket does not store any banking data or sensitive information.</p>
  <p>You can check the coupons that you have purchased anytime you want. Each customer gets a locator, which should be printed and delivered to the Market owner. This code is necessary, so that we can make sure that the coupon have satisfied the service provided. </p>
  <p>Once the Market is completed, the money will be transferred in 3 working days. For payment managing, a commission will be charged to both the buyer and that seller so that the costs are divided.</p>
  <p>For each coupon, 0.25 Euros + 10% of the price is charged, which serves to pay transfer fees and taxes.</p>
  <p>Dowemarket is not responsible for the services offered by the Markets, in case of complaints, our team will investigate the situation, and according to the consequence, you may cancel the payment of coupons.</p>

  <p><strong>ACCEPTANCE OF TERMS</strong></p>
  <p>Before visiting, browsing or using our platform dowemarket.com, as a user, you must read and accept our terms and conditions of use, when you are using our website, you agree to all these terms and conditions. </p> 
  <p>The user condition is acquired when using any service provided, requiring user registration or not. However, the use of certain services shall be subject to prior registration, for which the reading and acceptance of our privacy and data protection policy and will be needed. </p>
  <p>The user agrees to use our website and all its contents and services according to the provisions of law, morality, public order and as described in these terms and conditions. The user also commits to make appropriate use of services and content of dowemarket.com, do not use it for illegal or criminal purposes, which could adversely affect rights of others or violate the regulations on intellectual property.</p>
  <p>The conditions of service, subject to the Spanish laws, along with other terms and conditions contained in our web service, constitute the entire agreement between the user and dowemarket.com, regulating the use of the service.</p>
  <p>Furthermore the user accepts that these terms and conditions may be subject to change in the future, according to the decision of dowemarket.com without any prior notice for its part, making it the responsibility of the user check the terms of service.</p>

  <p><strong>USE RESTRICTIONS</strong></p>
  <p>The user agrees to use the Service at his own risk and responsibility. </p>
  <p>The user agrees not to make any unlawful or inconsistent use according to the terms and conditions of service, not to transmit, insert, disseminate or make available to third parties any material and information that are contrary to law, morality, public order and these Terms of Service.</p>
  <p>Do not include in our website content or discriminatory propaganda, sexual, racial, religious or any other breach of fundamental rights and freedoms recognized under the laws of Spain; do not include false information in violation of laws or regulations on privacy of communications, intellectual property, patent, trademark or copyright, right to honor and personal privacy, or content, messages or violent and/or degradation products.</p>
  <p>Do not introduce or spread false, confusing, equivocal information and content to mislead other users; The user also agrees not to impersonate other users using their user account or registry keys that give access to services and content of our website. Do not transmit unsolicited or unauthorized advertising, except in areas that have been designed exclusively for it, or disseminate and transmit unlawful or unfair advertising. </p>
  <p>Likewise the user undertakes not to introduce and/or spread viruses or harmful software in the network programs of data, which can cause damage to computer systems of both suppliers and third party network users.</p>

  <p><strong>TERMS AND USE CONDITIONS</strong></p>
  <p>The provision of services and / or contents of dowemarket.com are of indefinite duration. Notwithstanding the foregoing, both the user and dowemarket.com may terminate unilaterally at any time without prior notice on the portal access or their corresponded services, which may be a breach by the user of the provisions of our terms and conditions of use without prejudice to any liability for damages that may arise.</p>
  <p>In this way dowemarket.com reserves the right, without notice, to deny access to our web to those users which are considered not to meet our terms and conditions.</p>
  <p>Dowemarket.com reserves the right to make any changes it deems appropriate without notice, to remove, alter, rearrange and / or add new content and / or services.</p>
  <p>Generally to make use of our web services, the user represents, warrants and promises that he is of age and have the legal capacity to be part of this agreement. The access to the services of dowemarket.com is established on our terms and use conditions.</p>
  <p>The user agrees and acknowledges that dowemarket.com is not responsible for mistakes or errors caused by the use of the service on the user's computer. Nor dowemarket.com or its suppliers being responsible for any damages, omissions, errors, profit loss and / or losses in general, although caused by negligence of dowemarket.com and / or its suppliers and may be due to the connection with our service, or following the filing of third party demand against dowemarket.com </p>
  <p>Also dowemarket.com is not responsible for the contents on external websites and / or advertisements that may be linked to a service that dowemarket.com do not manage or control, and does not guarantee the suitability of other websites, services or advertisements published. Taking as reference the terms and conditions of use of this website, the user accepts that dowemarket.com can cancel at any time and without notice the access to contents of other websites, services, goods or advertisements that has been considered  inappropriate.</p>
  <p>Dowemarket.com admits services, content, goods or advertisements contained on this website are provided as they are, therefore the compatibility of the service with the user's computer is not guaranteed, also it is not guaranteed or held responsible for destructive elements that may occur in the service.</p>
  <p>The user acknowledges and accepts that dowemarket.com does not have any responsibility for loss or damage of any kind of natural occasions, incurred as a result of negotiations, conversations and / or relationships, whether contractual or not, which are made out by the advertiser of a “market" or third parties contacted through our website.</p>
  <p>Dowemarket.com can update frequently of the information of content and services, so constantly visit the published information on our website and the contents of the terms and conditions before making any buy / sell of coupon, registration and payment of user accounts and / or publication of “markets" is advised.</p>
  <p>The prices and other information relating to the published "markets" appear in dowemarket.com does not constitute a contractual offer, they are published for information purposes only. </p>
  <p>Dowemarket.com informs that it is not responsible for the information on the published "markets" or the sold “coupons”. Users should always be offered in accordance with the provisions on the protection of consumers in terms of information and purchase. </p>
  <p>Dowemarket.com employ every effort to check and verify the data provided by our users, however we can not guarantee the reliability of these data. </p>
  <p>INDEMNITY</p>
  <p>The user of this website agrees at his own expense, indemnify and defend dowemarket.com against any complaint demand, claim or other legal process.</p>
  <p>The user agrees to pay all the costs and legal fees arising from founded complaints in connection with the use of the service and / or its possible links, breach of our terms and conditions either by the user or a third person infringe the intellectual property rights of third parties, rights of personality or defamatory advertising, damaging or harmful to a third party, violation or failure by the user and unauthorized use of the service by the user or a third party with access to the computer of the user.</p>

  <p><strong>CIVIL RESPONSIBILITY</strong></p>
  <p>Dowemarket.com does not have civil responsibility, directly or indirectly, towards the user or any other person for errors and omissions in the service, delays, or interruptions in the transmission of the service and / or loss or damage or for any other reason for failure.</p>
  <p>Dowemarket.com assumes no responsibility to the user for any damages, loss of income or profits, loss of clientele or demand rights, negligence or wrongful acts of civilians caused by the use or inability to use our services, as well as any link, elements, service or disposition of our terms and conditions.</p>
  <p>Also dowemarket.com is excluded from any responsibility for damages falling within the nature which may to diffusion, transmission, reception and / or access to the services offered, as well as those due for failure to property or intellectual rights, the right to honor, personal and family privacy, the right to the image of persons, property rights, moral law, public order, decency and any other loss or damage to a third party by the misuse of the services offered on our website.</p>
  <p>As far as the service offered by the owners of the published “markets” or the "coupons" offered by users, equally to noticed above, dowemarket.com is excluded from any responsibility relating to the use of the service, unfair competition, illegal advertising, fraud caused by non chords expectations on the services offered, breach of services offered, defective performance or delay and / or cancellation of the services offered by the user.</p>
  <p>dowemarket.com is not liable for the communications that occur between users, and agreements to which come as a result of offers that appear on the website, likewise dowemarket.com held all controls may be possible to avoid, should you have acknowledge, potential scams or crimes that are being committed through the platform.</p>

  <p><strong>PERSONAL DATA</strong></p>
  <p>Following the Organic Law of Data Protection 15/1999 of 13 December, dowemarket.com informs the users that personal data will be automated and incorporated into automated files, dowemarket.com being responsible for these files, which, according current regulations are duly registered under the laws in the General Register of the data Protection Agency. To learn more, our <%= link_to privacy_path do %> data protection policy <% end %></p>
  <p>Dowemarket.com notes the existence of "cookies" on your website, our <%= link_to privacy_path do %> cookies policy <% end %></p>
  
  <div class="center">
    <%= back_link %>
  </div>  
</div>
