.market-full-description{
  text-align: left;
  padding-left:5%;
  margin-top:30px;

  .market-name {
    font-weight: 100;
  }

  .market-thumbnail{

    .market-featured-photo{
      img{
        width: 90%;
        height: auto;
      }
    }
  
    .market-description {
    }
  
    .market-action{
    }

    .market-show-link{
      display:none;
    }
  }

  .market-details{

    .market-meta{
    }

    .market-info{
      font-weight:200;
    }

    .market-stats{
      padding-top:18px;
    }

  }
}

.market_item{
  padding: 15px 0px 15px 0px;
}

.market_name_label{
  position:absolute;
  display:inline;
  top:100%;
  left:12px;
  margin-top:-68px;
  font-weight:200;
  font-size:24px;
  line-height: 48px;
  color:#FFFFFF;
  text-shadow: 2px 2px 5px #222222;
}

.market_name_label > span{
  max-width:240px;
  float:left;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.market_description_label{
  position:absolute;
  display:inline;
  top:100%;
  left:12px;
  margin-top:-30px;
  font-weight:400;
  font-size:12px;
  line-height: 24px;
  color:#FFFFFF;
  text-shadow: 2px 2px 5px #222222;
}

.market_description_label > span{
  max-width:240px;
  float:left;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.market-like-button{
  position:absolute;
  display:inline;
  top:0%;
  left:0%;
  margin-top:8px;
  margin-left:10px;
  color:#FFFFFF;
  text-shadow: 1px 1px 3px #222222;
}

.market-tooltip{
  .market-name{
    font-weight: 100;
    font-size: 18px;
    line-height:24px;
  }
  .market-description{
    font-size: 12px;
    line-height:18px;
  }

  .market-tags{
    font-size: 12px;
    line-height:18px;
  }

  .market-tags:before{
    content:"#";
  }

  .tooltip-right{
    margin-top: -60px;
    margin-left: 70px;
  }
}

.market-tooltip{
  padding-top: 5px;
}

.photo-gallery-container{
  text-align: center;

  .slideshow{
    width:600px;
    max-width: 100%;
    margin:0 auto;

    .carousel-control{
      i{
        margin-top: 20px;
      }
      @media(min-width:992px){
        background-image:none;
        color:#777777;
        &.left{
          margin-left: -90px;
        }
        &.right{
          margin-right: -90px;
        }
        i{
          margin-top: 140px;
        }
      }
    }
  }
}