.market_gallery{
}

.market_item{
  padding: 15px 0px 15px 0px;
}

.gallery_market_featured_photo{
  position:relative;
  width:300px;
  margin:auto;
}

.market_name_label{
  position:absolute;
  display:inline;
  top:100%;
  left:12px;
  margin-top:-68px;
  font-weight:200;
  font-size:24px;
  line-height: 48px;
  color:#FFFFFF;
  text-shadow: 2px 2px 5px #222222;
}

.market_name_label > span{
  max-width:240px;
  float:left;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.market_description_label{
  position:absolute;
  display:inline;
  top:100%;
  left:12px;
  margin-top:-30px;
  font-weight:400;
  font-size:12px;
  line-height: 24px;
  color:#FFFFFF;
  text-shadow: 2px 2px 5px #222222;
}

.market_description_label > span{
  max-width:240px;
  float:left;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.market-like-button{
  position:absolute;
  display:inline;
  top:0%;
  left:0%;
  margin-top:8px;
  margin-left:10px;
  color:#FFFFFF;
  text-shadow: 1px 1px 3px #222222;
}

.market-gallery-extra{
  width:300px;
  text-align: center;
  font-weight: 200;
  margin: 0 auto;
  padding: 5px;
  color: #777;
  border: 1px solid #ccc;
}