@import "bootstrap";
@import "bootstrap/theme";

.market-gallery{
  @extend .row;
  margin-top:20px;
}

.market-gallery-item {
  @extend .col-md-2;

  .market-thumbnail{
    @extend .thumbnail;
  border-width: 0px;
  }

  .market-caption {
    @extend .caption;
    text-align:center;
  }
}