.market-tooltip{
  .market-name{
    font-weight: 100;
    font-size: 18px;
    line-height:24px;
  }
  .market-description{
    font-size: 12px;
    line-height:18px;
  }

  .market-tags{
    font-size: 12px;
    line-height:18px;
  }

  .market-tags:before{
    content:"#";
  }

  .tooltip-right{
    margin-top: -60px;
    margin-left: 70px;
  }

  .tooltip-buttons{
    margin-top: -10px;
    margin-right: -3px;
  }
}

.market-tooltip{
  padding-top: 5px;
}