@import "bootstrap";
@import "bootstrap/theme";

.market-tooltip{
  .market-thumbnail{
    height:40px;
  }
  .market-name{
    font-weight: 100;
    font-size: 18px;
  }
  .market-description{
    font-size: 12px;
  }

  .market-featured-photo{
    display : none;
  }
}