<!-- Container START -->
        <div class="container">

        <div class="jumbotron hero-spacer">
            <h1>Welcome to Personal Market!</h1>
            <p>Here the amazing search engine.</p>
            <p><a class="btn btn-primary btn-large">Go !</a>
            </p>
        </div>
        
        <hr>

        <div>
            <%= yield %>
        </div>

    </div>
<!-- Container STOP -->