<nav class="snavbar navbar-default <%= hidden_bar %>" role="navigation">
  <div class="container-fluid">
    <div id="filter-bar-items-container" class="navbar-header">
      <ul class="search-nav-bar nav navbar-nav ">
        <%= search_box %>
      </ul>
    </div>
  </div>
</nav>