<section id="messages">
  <% if flash[:notice] %>
    <div id="notice" class="alert alert-success flash"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:warning] %>
    <div id="warning" class="alert alert-warning flash"><%= flash[:warning] %></div>
  <% end %>

  <% if flash[:error] %>
    <div id="error" class="alert alert-danger flash"><%= flash[:error] %></div>
  <% end %>
</section>

<script>
	setTimeout(function(){
	 $("#notice").slideUp(800);
	     }, 1200);
  setTimeout(function(){
   $("#warning").slideUp(800);
       }, 1200);
  setTimeout(function(){
   $("#error").slideUp(800);
       }, 1200);
</script>

<style>
	.alert{
		margin-bottom:0px;
	}
</style>
