<% if flash[:notice] %>
  <div id="notice" class="alert alert-success flash">><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
  <div id="error" class="alert alert-danger flash">><%= flash[:error] %></div>
<% end %>

<script>
	setTimeout(function(){
		$(".alert").slideUp(800);
	}, 1200);
</script>

<style>
	.alert{
		margin-bottom:0px;
	}
</style>