<% if flash[:notice] %>
  <div id="notice" class="alert alert-success flash">><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
  <div id="error" class="alert alert-danger flash">><%= flash[:error] %></div>
<% end %>

<script>
	setTimeout(function(){
	$(".alert").fadeOut(150);
	}, 2000);
</script>

<style>
	.alert{
		margin-bottom:0px;
	}
</style>