<!-- Footer START -->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <p class="navbar-text">Copyright &copy; DOWEMARKET 2014 -  <a href="#">Privacy</a></p>
    <ul class="nav navbar-nav navbar-right footer-right">
      <%= render "layouts/shared/user_city" %>
      <%= render "layouts/shared/footer_menu" %>
    </ul>
  </div>
</nav>

<style>
	.popover{
		width:300px;
	}
	.input-group{
		width:100%;
	}
	.input-content{
    text-align: left;
	}

  .fa-exclamation-triangle{
    color: #FFB834;
  }

  .fa-crosshairs{
    color: #1981CF;
  }

  .user_city{
    padding-left:15px;
  }

  @media (min-width: 767px){
    .language-toggle{
      font-weight: normal !important;
      width:70px !important;
    }
  
    .contact-button{
      font-weight: normal !important;
      width:150px !important;
    }
  }
  @media (max-width: 767px){
    .footer-right{
      display:none;
    }
  }
</style>
<!-- Footer STOP -->
