<!-- Footer START -->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <p>Copyright &copy; Personal Markets 2014 -  <a href="#">Privacy</a></p>
      </div>
</nav>
<!-- Footer STOP -->
