<li class="languages footer-collapse">
  <a href="#" class="dropdown-toggle language-toggle" data-toggle="dropdown">
    <span class="current-language"><%= I18n.locale.to_s.upcase %></span>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu language-select">
    <li><%= link_to "English (EN)", :language => :en %></li>
    <li><%= link_to "Español (ES)", :language => :es %></li>
  </ul>
</li>
<script>
$(".language-select li a").click(function(){
  var languageSelected = $(this).attr("name");
  $('.current-language').html(languageSelected);
});
</script>
        
<li class="contact-us footer-collapse">
  <a href="/contact" class="contact-button">
  	<i class="fa fa-envelope"></i>&nbsp;
  	<span>Contact us</span>
  </a>
</li>