<!-- Footer START -->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <p class="navbar-text">Copyright &copy; Personal Markets 2014 -  <a href="#">Privacy</a></p>
    <ul class="nav navbar-nav navbar-right">
      <li class="user_city"><span class="navbar-text" id="user-city-text"></span></li>
      <li class="languages dropup">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="current-language"><%= I18n.locale.to_s.upcase %></span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu language-select">
          <li><%= link_to "English (EN)", :language => :en %></li>
          <li><%= link_to "Español (ES)", :language => :es %></li>
        </ul>
      </li>
      <script>
      $(".language-select li a").click(function(){
        var languageSelected = $(this).attr("name");
        $('.current-language').html(languageSelected);
      });
      </script>
              
      <li class="contact-us">
        <a href="/contact">
        	<i class="fa fa-envelope"></i>&nbsp;
        	<span>Contact us</span>
        </a>
      </li>
    </ul>
  </div>
</nav>



<style>
	.popover{
		width:300px;
	}
	.input-group{
		width:100%;
	}
	.input-content{
    text-align: left;
	}

  .fa-exclamation-triangle{
    color: #FFB834;
  }

  .fa-crosshairs{
    color: #1981CF;
  }

  .user_city{
    padding-left:15px;
  }
</style>
<!-- Footer STOP -->
