<!-- Footer START -->
<div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Personal Markets 2014 -  <a href="#">Privacy</a></p>
                </div>
            </div>
        </footer>
</div>
<!-- Footer STOP -->
