<nav class="navbar navbar-default navbar-fixed-bottom hidden-xs" role="navigation">
  <div class="container">
    <p class="navbar-text"> <span class="hidden-md hidden-sm"> Copyright &copy; DOWEMARKET 2014 - </span> 
      <%= link_to t(:terms_of_use).capitalize, terms_path %> - <%= link_to t(:privacy).capitalize, privacy_path %> 
    </p>
    <ul class="nav navbar-nav navbar-right footer-right">
      <%= render "layouts/shared/user_city" %>
      <%= render "layouts/shared/footer_menu" %>
    </ul>
  </div>
</nav>

<style>
	.popover{
		width:300px;
	}
	.input-group{
		width:100%;
	}
	.input-content{
    text-align: left;
	}

  .fa-exclamation-triangle{
    color: #FFB834;
  }

  #user-city-text > .fa-crosshairs{
    color: #1981CF;
  }

  #user-city-text{
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
  }

  .user_city{
    padding-left:15px;
  }

  @media (min-width: 767px){
    .language-toggle{
      font-weight: normal !important;
      width:70px !important;
    }
  
    .contact-button{
      font-weight: normal !important;
      width:150px !important;
    }
  }

</style>
