<li class="dropdown mega-dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore<b class="caret"></b></a>
	
	<ul class="dropdown-menu mega-dropdown-menu row">
		<li class="col-sm-3">
			<ul class="explore_section">
				<li class="item-title">What's new</li>
				<li class="divider"></li>
        <li class="registered-user-action">
					<%= link_to published_markets_path do %>
						All Markets<i class="fa fa-angle-right pull-right explore-arrow"></i>
    			<% end %>
    		</li>
				<li class="divider"></li>                           
        	<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner"></div>
        	</div>
			</ul>
		</li>
		<li class="col-sm-3">
			<ul id="explore_categories" class="explore_section">
				<li class="item-title">Categories</li>
				<li class="divider"></li>
			</ul>
		</li>
		<li class="col-sm-2">
			<ul id="explore_tags" class="explore_section">
				<li class="item-title">Tags</li>  
				<li class="divider"></li>
			</ul>
		</li>
		<li class="col-sm-2">
			<ul id="explore_hotspots" class="explore_section">
				<li class="item-title">Hot spots</li>
				<li class="divider"></li>
			</ul>
		</li>
		<li class="col-sm-2">
			<ul class="explore_section">
				<li class="item-title">Wishlist</li>
				<li class="divider"></li>
				<li class="registered-user-action">
				<%= link_to wishes_gallery_path do %>
						All wishes<i class="fa fa-angle-right pull-right explore-arrow"></i>
          <% end %>
				</li>
			</ul>
			<ul class="explore_section">
				<li class="item-title">Bargains</li>
				<li class="divider"></li>
				<li class="registered-user-action">
        <%= link_to bargains_gallery_path do %>
						All bargains<i class="fa fa-angle-right pull-right explore-arrow"></i>
          <% end %>
				</li>
			</ul>  
		</li>
	</ul>
	
</li>

<script>
	$.get( "/slideshow", function( data ) {
    	$( ".carousel-inner" ).html( data );
  	});
  	$.get( "/categories/list", function( data ) {
    	$( "#explore_categories" ).append( data );
  	});
  	$.get( "/special_locations/list", function( data ) {
    	$( "#explore_hotspots" ).append( data );
  	});
  	$.get( "/tags/list", function( data ) {
    	$( "#explore_tags" ).append( data );
  	});
</script>