 <!-- Navbar Vertical START -->
<div class="col-md-3">
    <p class="lead">User</p>
    <div class="list-group">
              <% if user_signed_in? %>
              <li><%= link_to "Add market", new_user_market_path(current_user) %></li>
              <li><%= link_to "My markets", user_markets_path(current_user) %></li>
              <li><%= link_to "My favorites", user_path(current_user) %></li>
   
              <% end %>
          
    </div>
</div>
  <!-- Navbar Vertical STOP -->