<li id="search_bar"> 
  <div class="form-group"> 
    <%= text_field_tag :query, params[""], placeholder: "Buscar markets...", class: "query form-control", id: "search_bar_query" %>
  </div>
<li>
<li>
  <%= link_to  search_path do %>
    <i class="fa fa-search"></i>
  <% end %>
</li>


<script>
$( document ).ready(function() {
  $( "#search_bar_query" ).keyup(function() {
    $("#query").val($( "#search_bar_query" ).val());
  });

});
</script>