<li id="search_bar"> 
  <div class="form-group"> 
    <%= text_field_tag :query, params[:query], placeholder: "Buscar markets...", class: "query form-control" %>
  </div>
<li>
<li>
  <%= link_to search_path(:query => "cosas") do %>
    <i class="fa fa-search"></i>
  <% end %>
</li>