<li id="search_bar">
  <div class="input-group input-group">
    <%= text_field_tag :query, 
    session[:query], 
    placeholder: action_name == 'map' ? t(:search_in_map): t(:search_markets), 
    class: "query form-control", 
    id: "search_bar_query" %>
    
    <span class="input-group-btn">
      <button class="btn btn-default" id="search_button" type="button">
      <i class="fa fa-search"></i>
      </button>
    </span> 
  </div>
</li>

<script>
$( document ).ready(function() {
  
  $( "#search_bar_query").keypress(function(e) {
    if(e.keyCode == 13 ) {
      e.preventDefault();
      $("#search_button").click();
    }
  });

  $( "#search_bar_query" ).keyup(function() {
    $("#query").val($( "#search_bar_query" ).val());
  });

  $("#search_button").click(function(){
    <% if search_or_map_page? %>
      $("#search_market").change();
    <% else %>
      $("#search_market").submit();
    <% end %>
  });
});

</script>

<style>
  @media (min-width:768px) {
    #search_bar{
      margin-top: 8px;
      width: 200px;
    }
  }
</style>