<li id="search_bar">
  <div class="input-group input-group-sm">
    <%= text_field_tag :query, params["query"], 
    placeholder: "Search market", class: "query form-control", 
    id: "search_bar_query" %>
    <span class="input-group-btn">
      <button class="btn btn-default" id="search_button" type="button">
        <i class="fa fa-search"></i>
      </button>
    </span> 
  </div>
</li>

<script>
$( document ).ready(function() {

  $('#search_button').css('cursor', 'pointer');

  $( "#search_bar_query" ).keyup(function() {
    $("#query").val($( "#search_bar_query" ).val());
  });

  $( "#search_bar_query").keypress(function(e) {
    if(e.which == 13) {
      $("#search_market").submit();
    }
  });

  $("#query").ready(function(){
    $("#search_bar_query").val($( "#query" ).val());
  })

  $("#search_button").click(function(){
    $("#search_market").submit();
  });

  $("#location_location_id").on("change", function(){
    if($("#location_location_id").val() != "")
      $("#city_city_name option").prop("selected", false);
  });

  $("#city_city_name").on("change", function(){
    if($("#city_city_name").val() != "")
      $("#location_location_id option").prop("selected", false);
  });

});
</script>