<li><%= link_to "Add market", new_user_market_path(current_user) %></li>
<li><%= link_to "My markets", user_markets_path(current_user) %></li>
<li><%= link_to "My favorites", user_path(current_user) %></li>