<div class="form-group">
  <%= f.input :title, input_html: { placeholder: "Title", :required => true } %>
</div>

<div class="form-group">
  <%= f.input :subtitle, input_html: { placeholder: "Subtitle", :required => true } %>
</div>

<div class="form-group">
  <%= f.input :title_en, input_html: { placeholder: "Title in english...", :required => true } %>
</div>

<div class="form-group">
  <%= f.input :subtitle_en, input_html: { placeholder: "Subtitle  in english...", :required => true } %>
</div>