.terms-title{
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  padding: 20px;
  img{
  	width:100px;
  	height:100px;
  	margin:15px;
  }
}

.terms-content{
  text-align: justify;
  margin-bottom: 60px;
  .go-back-button-container{
    margin-top: 30px;
  }
}