<div id="map"></div>

<div class="btn-group btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-xs btn-success" id="theme-default">Default</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-xs btn-warning" id="theme-antique">Antique</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-xs btn-danger" id="theme-strawberry">Strawberry</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-xs btn-primary" id="theme-night">Night</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-xs btn-info" id="theme-sky">Sky</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-xs btn-default" id="theme-light">Light</button>
  </div>
</div>