<div class="plan col-md-4 col-md-offset-2">
  <div class="plan-name-premium">
    <h2>Pro Plan</h2>
    <span>4.95€ / <%= t(:month).capitalize %> </span>
  </div>
  <ul>
    <% t(:pro_features).each do |feature| %>
      <li class="plan-feature"><span class="fa fa-check-circle"></span> <%= feature %> </li>
    <% end %> 
  </ul>
  
  <%= render "users/utils/subscribe_button" %>
</div>