<div class="plan col-md-4 col-md-offset-1">
  <div class="plan-name-basic">
    <h2>Regular Plan</h2>
    <span><%= t(:free).capitalize %> </span>
  </div>
  <ul>
    <% t(:regular_features).each do |feature| %>
      <li class="plan-feature"><span class="fa fa-check-circle"></span> <%= feature %> </li>
    <% end %> 
  </ul>
</div>