<div class="row">
<div class="col-xs-12">
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Email</th>
      <th>Market Count</th>
      <th></th>
      </tr>
    <% @users.each do |user| %>
       <tr id = '<%= user.id %>' >
           <td> <%= user.email %> </td>
           <td> <%= user.markets.count %></td>
            <td> <%= link_to "Delete", user_path(user), :method => :delete %></td>
         </tr>
    <% end %>
  </table>
</div>
</div>
</div>