<%= stylesheet_link_tag 'users'%>
<div class="user-table-container">
	<% @users.grouped_by_role do |role, grouped_users| %>
  	<%= render "users", :users => grouped_users, :role => role %>
	<% end %>
</div>
