
<div class = "wish_title">My Profile</div>

<% if @user.has_role? "normal" %>

<div class="container">
	<div class="row">
		<div class="pricing-table">

			<div class="plan col-sm-6">
				<div class="plan-name-basic">
					<h2>Actual Plan: <%= @user.role %></h2>
					<span>Free</span>
				</div>
				<ul>
				<li class="plan-feature"><span class="glyphicon glyphicon-ok green-check"></span> 1 mercado / mes</li>
	            <li class="plan-feature off"><span class="glyphicon glyphicon-remove red-cross"></span> Propio espacio</li>
	            <li class="plan-feature off"><span class="glyphicon glyphicon-remove red-cross"></span> Estadisticas a tiempo real</li>
	            <li class="plan-feature off"><span class="glyphicon glyphicon-remove red-cross"></span> 20% menos en comisión / cupón</li>
				</ul>
			</div>

			<div class="plan col-sm-6">
				<div class="plan-name-premium">
					<h2>Premium Plan</h2>
					<span>5.99€ / Month</span>
				</div>
				<ul>
				<li class="plan-feature"><span class="glyphicon glyphicon-ok green-check"></span> Mercados ilimitados</li>
	            <li class="plan-feature"><span class="glyphicon glyphicon-ok green-check"></span> Propio espacio</li>
	            <li class="plan-feature"><span class="glyphicon glyphicon-ok green-check"></span> Estadisticas a tiempo real</li>
	            <li class="plan-feature"><span class="glyphicon glyphicon-ok green-check"></span> 20% menos en comisión / cupón</li>
				<%= link_to "Become premium", user_subscription_path(@user), class:"btn btn-info" %>
				</ul>
			</div>
	    </div>
    </div>
</div>

<% else %>

<div class="container">
	<div class="row">
		<div class="pricing-table">

			<div class="plan col-sm-12">
	          <div class="plan-name-premium">
	             <h2>Actual: <%= @user.role %> Plan</h2>
	            <span>5.99€ / Month</span>
	          </div>
	          <ul>
	            <li class="plan-feature"><span class="glyphicon glyphicon-ok green-check"></span> Mercados ilimitados</li>
	            <li class="plan-feature"><span class="glyphicon glyphicon-ok green-check"></span> Propio espacio</li>
	            <li class="plan-feature"><span class="glyphicon glyphicon-ok green-check"></span> Estadisticas a tiempo real</li>
	            <li class="plan-feature"><span class="glyphicon glyphicon-ok green-check"></span> 20% menos en comisión / cupón</li>
	          </ul>
	        </div>

 		</div>
    </div>
</div>

<% end %>