<ul class="list-group">
<li class="list-group-item"><%= @user.email %></li>
<li class="list-group-item"><%= link_to "Add market", new_user_market_path(@user) %></li>
<li class="list-group-item"><%= link_to "My list of markets", user_markets_path(@user) %></li>
</ul>