<section id="subscription-payment">
  <h2>Profile page</h2>
  <p class="payment-errors"></p>

  <section class="payment-form">

    <fieldset>
      <label>Card name</label>
      <input class="card-holdername" name="Card name" type="text" size="20" value="Max Mustermann" />
    </fieldset>

    <fieldset>
      <label>Card number</label>
      <input class="card-number" name="Card number" type="text", size="20" value="4111111111111111" />
    </fieldset>

    <div class="exp-and-cvc">

      <fieldset>
        <label>Expiration date</label>
        <input class="card-expiry-month" name="Expiration month" placeholder="MM" type="text" size="2" value="12" maxlength="2" />
        <input class="card-expiry-year" name="Expiration year" placeholder='YYYY' type="text" size="4" value="2015" maxlength="4"/>
      </fieldset>

      <fieldset>
        <label>CVC</label>
        <input class="card-cvc" name="CVC" type="text" maxlength="4" size="4" value="123"/>
      </fieldset>

    </div>

    <fieldset>
      <input type="submit" value="Subscribe" />
    </fieldset>

  </section>
</section>