<section id="subscription-payment">
  <h2>Profile page</h2>
  <p class="payment-errors"></p>

  <section class="payment-form">

    <fieldset>
    <div class="form-group payment-form">
    <%= form_tag({controller: "subscriptions", action: "create"}, method: "post", id: "new_payment") do %>

    <%= render "payments/common_payment_form", :payment => @subscription_payment.payment %>

    <% end %>
    </div>
    <div class="form-group col-md-4 col-md-offset-4">
      <button class="get-token btn btn-info">Subscribe</button>
    </div>
    </fieldset>
  </section>
</section>
