<%= page_title(user_role(current_user), "fa-dashboard") %>

<div class="container main-container">  
  <div class="row">
    <div class="pricing-table">

      <%= render "users/utils/regular_plan" %>

      <%= render "users/utils/pro_plan" %>

    </div>
  </div>

<div class="center">
<%= back_link %>
</div>

</div>
