<div class = "home_gallery special_location_gallery row">
  <% @special_locations.each do |special_location| %>
      <div class = "home_gallery_item special_location_item col-md-3">
        <div class = "center special_location_featured_photo" data-name="<%= special_location.name %>">
          <%=  photo(special_location.photography, 250, 125) %>
          <div class = "home_gallery_label special_location_label">
            <span>
              <%= link_to map_path(location: special_location.name) do %>
                <%=  special_location.name %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
  <% end %>
</div>