<div class = "special_location_title">Hot spots</div>

<% if can? :create, SpecialLocation %>
<%= link_to 'New', new_special_location_path, class:"new" %>
<% end %>

<%= render "special_locations/shared/special_locations" %>

