<% @special_locations.each do |special_location| %>
  <li class="registered-user-action">
    <%= link_to map_path(location: special_location.name) do %>
      <%=  truncate(special_location.name, length: 16) %>
      <i class="fa fa-angle-right explore-arrow"></i>
    <% end %>
  </li>
<% end %>

<li class="divider"></li>

<li class="registered-user-action">
  <%= link_to special_locations_gallery_path do %>
    <%= t :all_locations %>
    <i class="fa fa-angle-right explore-arrow"></i>
  <% end %>
</li>