<% @special_locations.each do |special_location| %>
  <li class="registered-user-action">
  <%= link_to special_location.name, 
    :controller => "static_pages", 
    :action => "map", 
    :location => special_location.name %>
  </li>
<% end %>

<li class="divider"></li>
<li class="registered-user-action">
  <%= link_to special_locations_gallery_path do %>
      <%= t :all_locations %>
  <% end %>
</li>

<script>
$(document).ready(function(){
	$('#explore_hotspots>.registered-user-action>a').append('<i class="fa fa-angle-right explore-arrow"></i>');
});
</script>
