<% if coupon.available > 0 %>
  <div id = "buy-coupon-action">
   <%= form_tag({controller: "coupons", action: "coupon_payment"}, method: "post") do %>
   <%= select_tag "number", options_for_select((1..coupon.available)), class:"form-control"  %>
   <%= submit_tag "Buy", class:"btn btn-info coupon-buy-button" %>
   <% end %>
   <%= link_to "How it works?", buy_coupon_terms_path %></div>
  </div>
<% else %>
   Sold out
<% end %>