<div class = "home_gallery_title"><i class="fa fa-credit-card fa-2x"></i> <br/>Buy Coupon</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Coupon Payment</h3>
          <p class="payment-errors"></p>
        </div>
        <div class="panel-body">
          <fieldset>
          <%= form_tag({controller: "coupons", action: "buy"}, method: "post", id: "new_payment") do %>
          <%= hidden_field_tag "id", "#{coupon_payment.coupon.id}" %>

          <%= render "payments/common_payment_form", :payment => coupon_payment.payment %>

          <% end %>
          <div class="form-group col-md-4 col-md-offset-4 payment-button-container">
            <button class="get-token btn btn-info">Pay</button>
          </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

