<table class="table">
    <tr>
    <th class="col-md-2">Transaction ID</th>
    <th class="col-md-2">Market</th>
    <th class="col-md-2">Market owner</th>
    <th class="col-md-2">Description</th>
    <th class="col-md-1">Price</th>
    <th class="col-md-2">User email</th>
    <th class="col-md-1">Number</th>
    </tr>

    <% transactions.each do |transaction| %>
        <%= render "coupons/transaction", :transaction =>transaction %>
    <% end %>
</table>
