
  <table class="table">
    <tr>
    <th>Transaction id</th>
    <th>Market name</th>
    <th>Market owner</th>
    <th>Coupon description</th>
    <th>Coupon price</th>
    <th>User email</th>
    <th>Number</th>
    </tr>

    <% transactions.each do |transaction| %>
        <%= render "coupons/transaction", :transaction =>transaction %>
    <% end %>
  </table>
