<%= page_title("Active Coupons", Coupon.icon) %>

<div class="paginate">
  <%= paginate @coupons%>
</div>

<div class = "market_gallery row">
  <% @coupons.each do |coupon| %>
    <%= render "gallery_item", :coupon => coupon %>
  <% end %>
</div>