<%= page_title("Coupons", Coupon.icon) %>

<div class="paginate">
  <%= paginate @coupons%>
</div>
  <div class = "main-container">
  <div class="panel panel-default panel-table">

    <% @coupons.each do |coupon| %>
      <div class = "market-list-section-container row">
           <%= render coupon, buy: false %>
      </div>
    <% end %>
  </div>
</div>