<div class="terms-title" ><i class="fa fa-ticket fa-3x"></i><br> Active Coupons </div>

<div class="paginate">
  <%= paginate @coupons%>
</div>

<div class = "market_gallery row">
  <% @coupons.each do |coupon| %>
    <%= render "gallery_item", :coupon => coupon %>
  <% end %>
</div>