
<ul>
<li> <span> Market: </span> <span> <%= @market.name %> </span> </li>
<li> <span> Coupon Description: </span>  <span> <%= @coupon.description %> </span> </li>
<li> <span> Coupon Price </span>  <span> <%= @coupon.price %> </span> </li>
<li> <span> Number of available coupons </span>  <span> <%= @coupon.number %> </span> </li>
</ul>