<div class="panel panel-default panel-table out_coupons">
  <div class="panel-heading table-title">Market transactions</div>
  <%= render "coupons/transactions", :transactions => @transactions %>
</div>