<div class="panel panel-default panel-table out_coupons">
  <div class="panel-heading table-title">Bought coupons</div>
	<%= render "coupons/transactions", :transactions => @out_transactions %>
</div>

<div class="panel panel-default panel-table panel-table-last in_coupons">
  <div class="panel-heading table-title">Sold coupons</div>
	<%= render "coupons/transactions", :transactions => @in_transactions %>
</div>