<div class="market-location">
    <div class="market-address"> <%= market.address %> </div>
    <div class="market-longitude"> <%= market.longitude %> </div>
    <div class="market-latitude"> <%= market.latitude %> </div>
</div>