<div class="panel-heading table-title">
  <div class="market-title-container">
    <div class="market-title col-md-6">
    <%= market.link(market.name)%>  
    </div>
    <div class="market-actions col-md-6">
      <%= market.social_icons %>
      <div class="market-actions-links">
        <%= market.actions %>
      </div>
    </div>
  </div>
</div>


<style>
  @media (max-width: 992px){
    .market-actions{
      text-align: left;
    }
  }
</style>
