<div class="paginate">
  <%= paginate @markets %>
</div>

<% markets.each do |market| %>
  <% market = market.decorate %>
  <%= render partial: 'markets/shared/views/short_view', locals: { market: market } %>
<% end %>
