<%= content_tag(:tr, :id => "market_tooltip_#{market.id}", :class => "market_tooltip") do %>
    <td class="tooltip_photo">
      <% if market.featured? %> 
        <%= cl_image_tag(market.featured.path, { size: '150x150', crop: :fit}) %>
      <% end %>
    </td>
    <br>
    <td class="tooltip_name"> <%= market.name %> </td>
    <br>
    <td class="tooltip_description"> <%= market.description %> </td>
<% end %>