<div class = "home_gallery_title"><i class="fa fa-refresh fa-2x"></i> <br>Change user role</div>

<div class="container user-session">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-table-last change-role-panel">
        <div class="panel-body">
          <p><%= @user.email %><p>
          <% @user.available_roles.each do |role| %>
  					<%= link_to "Make " + role, user_role_path(@user, :new_role => role), :method => :put, :class => "btn btn-info" %><br>
					<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
