
<div class="panel panel-default panel-table">
  <div class="panel-heading table-title">
  Tags
  </div>
  <div class="panel-body tags-panel-container">
  	<% @suggested.each do |tag| %>
      <% if market_counter(tag.name) > 0 %>
  		  <div class="col-md-2"> <%= link_to(tag.name, tag_markets_path(tag.name), class: "tag-link") %> (<%= market_counter(tag.name) %>) </div>
	 	     <% end %>
      <% end %>

		<%= render "tags_link", :tags => @tags %> 
	</div>
</div>

<div id="gallery-items"></div>

<script>

  $('.tag-link').click(function(){
    $.get( $(this).attr('href'), function( data ) {
      $( "#gallery-items" ).html( data );
    });
    return false;
  });

</script>


<% if  params['tag_name'].present? %>
  <script>
    $(".tag-link:contains(<%= params['tag_name'] %>)").click();
  </script>
<% end %>