<div class="panel panel-default panel-table panel-table-last">

 <div class="panel-heading table-title">
    Popular Tags 
  </div>

  <div class = "home_gallery tag_gallery">
    <% @suggested.each do |tag| %>
      <div class="home_gallery_item tag_gallery_item">
          <div class="tag_gallery_label" data-name="<%= tag.name %>">
            #<%= tag.name %>
          </div>
      </div>
    <% end %>
  </div>
</div>

<script>
$( document ).ready(function() {
  $('.tag_gallery_label').css('cursor', 'pointer');

  $(".tag_gallery_label").click(function(){
    $("#query").val($(this).data("name"));
    $("#search_market").submit();
  });
});
</script>
