<h4>Tags</h4>
<% @tags.each do |tag| %>
  <%= content_tag(:span, class: "tag", id: tag) do %>  
       <%= link_to tag, markets_search_path({"query" => tag }) %>
       <% if @starred.include?(tag) %>
          <%= link_to "unstar", dislike_tag_path(tag)  %>
        <% else %>
          <%= link_to "star", like_tag_path(tag) %>
       <% end %>
  <% end %>
<% end %>
