
<div id="search-category-buttons" class="btn-group-vertical">
  <%= all_categories_button %>
  
  <% Category.each do |category| %>
    <%= formatted_button(category) %>
  <% end %>
</div>


<script>
    function initializeCategory(category){
      $('.btn-all-categories').attr('tile', MAPBOX_DEFAULT_STYLE); 
      if (category){
         $('#'+category).addClass("theme-selected");
      }
      else{
          $('.btn-all-categories').addClass("theme-selected");
      }
    };

    $('.theme').click(function (){
        $('.theme').each(function(){
          $(this).removeClass("theme-selected");
        });
        $(this).addClass("theme-selected");
        $("#category_category_id").val($(this).attr('title')).change(); 
        try{
          PM.changeTile($(this).attr('tile'));
        } catch(err){};
    });

</script>

<style>
@media(max-width: 768px){
  .theme{
    text-align: center;
    padding-left: 0px;
    padding-right:0px;
  }
  .btn-category > i{
    width:100%;
    padding-left: 0px !important;
  }
  .btn-category > span{
    display:none;
  }
  #search-category-buttons{
    width:40px;
    margin-left: -55px;
  }
}
</style>