<%= javascript_include_tag "mapbox_config" %>

<div id="search-category-buttons" class="btn-group-vertical">
  <%= all_categories_button %>
  
  <% Category.each do |category| %>
    <%= formatted_button(category) %>
  <% end %>
</div>


<script>
    function setCategoryMapStyle(){
      catSelected = $("#category_category_id").val();
      if (catSelected){
        $('#'+catSelected).click();
      }
      else{
        $(".btn-all-categories").click();
      }
    };

    $('.theme').click(function (){
        $('.theme').each(function(){
          $(this).removeClass("theme-selected");
        });
        $(this).addClass("theme-selected");
        $("#category_category_id").val($(this).attr('title')).change(); 
    });

    $(document).ready(function(){
      $('.btn-all-categories').attr('tile', MAPBOX_DEFAULT_STYLE); 
    });
</script>