<div class="market-location">
  <div class="market-longitude hidden"> <%= market.longitude %> </div>
  <div class="market-latitude hidden"> <%= market.latitude %> </div>
</div>

<%= render "markets/shared/utils/mapsmall" %>
