<div class="market-section-title row">Gallery</div>
<row>
  <% market.gallery.photographies.each do |photo| %>
      <div class = "col-md-4">
        <%= photo(photo, 300, 150) if photo.present? %>
        <%= edit_photo_link(photo) %>
      </div>
  <% end %>
</row>