
<%= javascript_include_tag "explore_slideshows" %>

<div class="market-section-title">Gallery</div>
<div class="market-section-container photo-gallery-container">
	<div class="market-photos-slideshow-container">
		<div id="carousel-container-market-photo-gallery" class="carousel slide photo-gallery" data-ride="carousel">
			<div class="carousel-inner market-photo-gallery-carousel-inner">
				<% market.gallery.photographies.each do |photo| %>
					<div class="item">
		  			<%= photo(photo, 800, 400) if photo.present? %>
		  		</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


<style>
@media (max-width:992px){
	.market-photos{
	  padding: 0px !important;
	}
}
</style>

<script>
	$(".market-photo-gallery-carousel-inner>.item:first").addClass("active");
</script>