<div class="market-section-title row">Slideshow <%= market.direct_edit_link("form-market-photos") %></div>
<div class="market-section-container row photo-gallery-container">
	<div class="market-photos-slideshow-container">
		<div id="carousel-container-market-photo-gallery" class="carousel slide photo-gallery" data-ride="carousel">
			<div class="carousel-inner market-photo-gallery-carousel-inner">
				<% market.gallery.photographies.each do |photo| %>
					<% if !photo.empty? %>
						<div class="item">
			  			<%= photo(photo, 800, 400)  %>
			  		</div>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>


<style>
@media (max-width:992px){
	.market-photos{
	  padding: 0px !important;
	}
}
</style>

<script>
	$(".item:first").addClass("active");
	$(".item > a > img").css("width", "100%");
	$(".market-photo-gallery-carousel-inner>.item:first").addClass("active");
</script>