<div class="panel-heading table-title">
  <div class="market-title-container row">
    <div class="market-title col-md-12 poster-title">
    <%= market.link(market.formatted_market_name)%>  
    </div>
  </div>
</div>