<%= stylesheet_link_tag "calendar" %>

<div class="row">
<div class="col-md-6">
  <%= market_calendar(market) %>
</div>

<div class="col-md-6">
<% prevDate = nil %>
<% market.human_readable_schedule.each do |day| %>
    <% if prevDate && prevDate == day["date"] %>
      <%= append_date(day) %> 
    <% else %>
       </br>  <%= format_date(day) %> 
    <% end %>
    <%  prevDate = day["date"] %>
<% end %>
</div>
</div>

<script>
$(document).ready(function(){
  var scheduleString = $(".market-schedule-string").text();
  var scheduleItems = scheduleString.split(";");
  $.each(scheduleItems, function(i, val){
      valArray = val.split(",");
      scheduleItems[i] = valArray[0]+", "+valArray[1]+" to "+valArray[2];
  });
  $(".market-schedule-detail").html(scheduleItems.join("<br>"));
});
</script>

