<%= javascript_include_tag "bootstrap-datepicker/core" %>
<%= javascript_include_tag "bootstrap-datepicker/locales/bootstrap-datepicker.es" %>
<%= stylesheet_link_tag "bootstrap-datepicker" %>

<div class = "datepicker"></div>

<script>
var locale = "<%= params['language'] %>";
$('.datepicker').datepicker({
    weekStart: 1,
    format: "dd/mm/yyyy",
    startDate: "today",
    endDate:"+1m",
    multidate:true,
    language: locale,
    todayHighlight: true
})
</script>