<div class="col-md-6 schedule-list">
  <div class="center"> 
    <%= market_dates(market) %>
  </div>
</div>

<script>
$(document).ready(function(){
  var scheduleString = $(".market-schedule-string").text();
  var scheduleItems = scheduleString.split(";");
  $.each(scheduleItems, function(i, val){
      valArray = val.split(",");
      scheduleItems[i] = valArray[0]+", "+valArray[1]+" to "+valArray[2];
  });
  $(".market-schedule-detail").html(scheduleItems.join("<br>"));
});
</script>

