<div class = "main-container">
  <div class = "market_gallery row">
    <% users.each do |user| %>
      <%= render "users/views/gallery_item", user: user %>
    <% end %>
  </div>

  <div class="center">
    <%= back_link %>
  </div>
</div>