<%= javascript_include_tag "attachinary" %>

<% required ||= false %>

<div class="form-group">
  <%= f.attachinary_file_field(:photo, 
    :cloudinary => { :transformation => {:width=>800, 
    :height =>800, :quality => 50, :crop=>:limit }}) %>
</div>

<script>
$( document ).ready(function() {
  $('.attachinary-input').attachinary();

  $('.attachinary-input').fileupload({
      progressall: function (e, data) {
        $('#progress').removeAttr( 'style' );
        var progress = parseInt(data.loaded / data.total * 100, 10);
        try{
          if(progress >= 100){
            $("#progress").html("[Upload progress: DONE]");
            setTimeout(function() {
              $('#progress').fadeOut('slow');
            }, 1000); 
          }
          else{
            $("#progress").html("[Upload progress: " + progress + " %]");
          }
        }catch(ex){}
      },
      add: function(e, data) {
        if(data.originalFiles[0]['size'] > 1000000) {
            alert("Filesize is too big. Maximun size is 1 MB");
        }
        else {
            data.submit();
        }
    }
  });
});

</script>
<% if required %>
  <script>
    $('.simple_form').submit(function(){
      if(!$('.attachinary_container input').val()){
        alert("Image cannot be empty!");
        return false;
      }
    });
  </script>
<% end %>  