<div class="row">
  <% @photos.each do |photo| %>
      <%= content_tag_for(:tr, photo) do %> 
      <div class="col-md-4 table-photo center"> 
          <%= photo(photo, 250) %>
          <%= render "photos/utils/actions", photo: photo %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="paginate">
  <%= paginate @photos %>
</div>
