<div class="panel panel-default panel-table out_coupons">
  <div class="panel-heading table-title">Your coupons</div>
  <%= render "coupons/transactions/transactions", transactions: @transactions %>
</div>