<div class="panel panel-default panel-table out_coupons">
  <div class="panel-heading table-title">
    <%= user_scope + " " + t(:coupons) %> 
  </div>
  <%= render "coupons/transactions/transactions", transactions: @transactions %>
</div>