<table class="table">
  <tr>
  <th>Featured photo</th>
  <th>Name</th>
  <th>Description</th> 
  <th>Category</th>
  <th>Owner</th>
  <th></th>
  <th></th>
  <th></th>
  </tr>

  <% markets.each do |market| %>
      <%= render market %>
  <% end %>
</table>
