<%= stylesheet_link_tag 'market-quality'%>

<div class="market-section-title">Market quality</div>
<div class="market-section-container">
  <div class="quality-section">
    <ul class="field-list">
      <% market.market_quality do |field, quality| %>
        <%= render partial: "field_quality", locals: {field: field, quality: quality} %>
      <% end %>
    </ul>
  </div>
</div>