
<div class="market-thumbnail">
  <div class="market-featured-photo">
    <%= photo(market.featured, image_size) %>
  </div>

  <div class="caption">
    <div class="market-name"> <%= market.name %> </div>
    <div class="market-description"> <%=  market.description %> </div>
  </div>
</div>
