<!-- 
  - params[:layout] allows to render diffente list styles [slugs, gallery,... ] 
  - "gallery" is de default layout
  - check makers_helper to see details  
-->
<div class = "special_location_title">Markets</div>


<% layout ||= params[:layout] || "gallery" %>
<% markets ||= @markets %> 

<%= content_tag :div, class: "market-#{layout}" do %>
  <%= market_list(markets, layout) %>
<% end %>
