<!-- 
  - params[:layout] allows to render diffente list styles [slugs, gallery,... ] 
  - "gallery" is de default layout
  - check makers_helper to see details  
-->

<% markets ||= @markets %> 

<%= content_tag :div, class: "market-slugs" do %>
  <div id="gallery-items"></div>
    <%= market_list(markets, 'slugs') %>
  </div>
<% end %>