<div class="container main-container">
  <div class="panel panel-default panel-table panel-table-last ">

    <div class="panel-heading table-title">
      User Markets
    </div>
    <div id="gallery-items ">  
      <%= render partial: "markets/shared/views/slugs", locals: {markets: @markets } %>
    </div>
    
  </div>
</div>