<div class="panel panel-default panel-table panel-table-last">
  
  <div class="panel-heading table-title">
    <%= user_scope  %> likes
  </div>

  <div class="paginate">
    <%= paginate @markets %>
  </div>

  <div id="gallery-items">
    <% if @markets.count > 0 %>
      <%= render partial: "markets/shared/views/gallery", locals: {markets: @markets } %>
      <% else %>
        <h2><%= t(:no_markets) %></h2> 
      <% end %>
  </div>

</div>