<% if @markets == [] %>
  <div class="no-matching-markets search-section-title">
    <%= t :no_matches %>
  </div>
<% else %>

  <%= render partial: "markets/shared/views/gallery", locals: {markets: @markets } %>

  <div>
    <%= link_to "Prev", "#", :id=>"prev-markets" if !@first_page %>
    <%= link_to "Next", "#", :id=>"next-markets" if !@last_page %>
  </div>

  <script>
   $("#prev-markets").click(function(){
      var page = parseInt($('#page').val());
      $('#page').val(page - 1).change();
    });

    $("#next-markets").click(function(){
      var page = parseInt($('#page').val());
      $('#page').val(page + 1).change();
    });
  </script>
<% end %>