<div id="gallery-items" class="search-gallery"></div>

<%= render partial: 'markets/shared/utils/category_buttons' %>

<script>
  $(document).ready(function(){
    $("#search_market").change(ajaxSearch).change();
  });
</script>
