<div id="gallery-items" class="search-gallery">
</div>

<%= render partial: 'markets/shared/utils/category_buttons' %>

<div>

  <div class="explore-more-markets search-section-title">
    <%= t(:explore_more_markets) %>
  </div>
  
  <div id="pro_markets">
  </div>

</div>

<script>
  $(document).ready(function(){
    $("#search_market").change(ajaxSearch).change();
     $.get( "<%= pro_markets_path %>", function( data ) {
      $( "#pro_markets" ).html( data );
    });
  });
</script>