<div class="col-xs-4">

</div>
<div class="col-xs-4">
<h2> HI! <%= @market.name %> </h2>
<% if @market.featured? %>
<td class="featured-photo">
	<%= cl_image_tag(@market.featured.path, { size: '200x200', crop: :fit}) %>
	<div class="caption">
        <h3><%= @market.description %></h3>
     </diV>
</td>
<% end %>
</div>

<div class="col-xs-12">
<%= render "markets", :markets => [@market]%>
</div>