<div class="col-xs-4">

</div>
<div class="col-xs-4">
<h2> <%= @market.name %> </h2>
<% if @market.featured? %>
<td class="featured-photo">
	<%= cl_image_tag(@market.featured.path, { size: '200x200', crop: :fit}) %>
</td>
<% end %>
</div>

<div class="col-xs-12">
<%= render partial: "markets/shared/slug", locals: {markets: [@market]}%>
</div>