<div class="carousel-inner">
	<% @markets.each do |market| %>
  	 <%= render "/markets/shared/views/slideshow", :market => market.decorate %>
	<% end %>
</div>

<%= javascript_include_tag "explore_slideshows" %>