<div class="carousel-inner">
	<% @markets.each do |market| %>
  	 <%= render "/markets/shared/views/slideshow", :market => market.decorate %>
	<% end %>
</div>

<script>
  $(".item:first").addClass("active");
  $(".item > a > img").css("width", "100%");
</script>