
<% markets.each do |market| %>
  <div class="wish-recommended-item">
    <%= photo(market.featured, 160, 80)%><br>
    <%= market.decorate.formatted_market_name %>
    <p> <%= link_to "Recommend", recommend_market_to_wish_path(wish, market), {:method => "post"} %> </p>
  </div>
<% end %>
 