@import "color";

//*############################ BADGE WRAPPER #############################*//

@mixin wrapper-ribbon-badge($marginTop, $marginRight) {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  margin-top: $marginTop;
  margin-right: $marginRight;
}

.market-badge{
  .market-full-description-container & {
    @include wrapper-ribbon-badge(-12px, 2px);
  }
  .market-list-each-container & {
    @include wrapper-ribbon-badge(-18px, 18px);
  }
  .gallery_market_featured_photo & {
    @include wrapper-ribbon-badge(3px, 3px);
  }
}

//*############################ RIBBON BADGE #############################*//

@mixin ribbon-badge ($col, $content) {
  font: bold 9px Sans-Serif;
  left: -5px;
  top: 15px;
  width: 120px;
  color: white;
  text-align: center;

  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  background-color: lighten($col, 10%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(lighten($col, 10%)), to($col)); 
  background-image: -webkit-linear-gradient(top, lighten($col, 10%), $col); 
  background-image:    -moz-linear-gradient(top, lighten($col, 10%), $col); 
  background-image:     -ms-linear-gradient(top, lighten($col, 10%), $col); 
  background-image:      -o-linear-gradient(top, lighten($col, 10%), $col);

  .badge-text:before{
    content: $content;
  }
}

#beta-badge-container{
  position: fixed;
  width: 100px;
  height: 80px;
  overflow: hidden;
  right:-23px;
  top:51px;

  .beta-badge {
    @include ribbon-badge(#FFC900, "BETA");
    font: bold 12px Sans-Serif;
    left: -15px;
    top: 10px;
    width: 130px;
    color: black;
    letter-spacing: -0.1em;
    color: black;
    text-decoration: none;
  }
}

.ribbon-badge{
  &.no_badge{
    display: none;
  }
  &.new_market{
    @include ribbon-badge($badgeNewCol, "NEW");
  }
  &.staff_pick{
    @include ribbon-badge($badgeStaffPickCol, "STAFF PICK");
  }
  &.pro{
    @include ribbon-badge($badgeVimCol, "VIM");
  }
  &.sample{
    @include ribbon-badge($badgeSampleCol, "SAMPLE");
  }
  &.passed{
    @include ribbon-badge($badgePassedCol, "PASSED");
  }
}

//*############################ LIKE BADGE #############################*//

@mixin like-badge($col) {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  font: 14px/30px Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -1px;
  letter-spacing: -1px;
  border: 1px solid;
  border-radius: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  background: lighten($col, 10%);
  border-color: $col;
  background-image: -webkit-gradient(linear, left top, left bottom, from(lighten($col, 10%)), to($col)); 
  background-image: -webkit-linear-gradient(top, lighten($col, 10%), $col); 
  background-image:    -moz-linear-gradient(top, lighten($col, 10%), $col); 
  background-image:     -ms-linear-gradient(top, lighten($col, 10%), $col); 
  background-image:      -o-linear-gradient(top, lighten($col, 10%), $col); 
}

.like-badge{
  &.like{
    @include like-badge($badgeLikeCol);
  }
  &.unlike{
    @include like-badge($badgeUnlikeCol);
  }
  a{
    color: white;
    &:hover{
      text-decoration: none;
    }
  }
}
