/*
*= require cal-heatmap
*/

#calweek-title{
	color: #777;
	font-size: 24px;
	font-weight: 100;
}

#calmonth-title{
	padding-top: 120px;
	color: #777;
	font-size: 24px;
	font-weight: 100;
}

.subdomain-text{
	fill: #fff;
	font-size: 12px;
	font-weight: 100;
}
