$bgDefault      : #000;
$colDefault     : #2f2f2f;
$colBrand   : #C76363;

//*############################ BADGE COLORS #############################*//

$badgeBetaCol : #FFC900;

$badgeNewCol : #d43f3a;
$badgeStaffPickCol : #A85292;
$badgeVimCol : #28a4c9;
$badgeSampleCol : #eea236;
$badgePassedCol : #FF6966;

$badgeLikeCol : #FF6966;
$badgeUnlikeCol : #28a4c9;