@import "bootstrap";
@import "bootstrap/theme";

.badge{
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #5bc0de;
}
.panel{
  background-color: rgba(0, 0, 0, 0);
}
#intro{
  width:100%;
  text-align:center;
}

#search_img{
 width:80%;   
}