@import "color";

//*############################ GENERAL #############################*//

body {
  padding-top: 50px
}

footer {
  margin: 50px 0;
}

.back_link{
  margin: 10px;
}

.spinner-container{
  width:100%;
  text-align: center;
  .fa-spin{
    color:#777777;
  }
}

.paginate{
  width:100%;
  text-align: center;
}

.pagination {
  width:100%;
}

.pagination > span > a{
  padding:5px 9px 5px 10px;
  border:1px solid #CCCCCC;
  border-radius: 500px;
}

.pagination > span{
  margin: 0px 4px;
}

.category-gallery{
  margin-left: percentage(1/12);
  margin-right: percentage(1/12);
  text-align: center;
  
  .item{
    width: 19.5%;
    margin: 0 0 20px 0;
    display: inline-block;
    font-weight: 200;
    color:#777;
    @media(max-width: 768px){
      display: block;
      width: 100%;
    }
    .photo{
      cursor: pointer;
      margin-bottom: 5px;
    }
  }
}

.title{
  font-weight: 100;
  text-align: center;
}

.tip{
  padding:15px;
}

.button_to{
  padding: 3px;
}

.simple_form .control-label {
  display: none;
}

.nav .btn{
  margin-top:5px;
}

.main-container{
  margin-bottom: 60px;
}

.panel-default > .panel-heading {
  background-image: linear-gradient(to bottom, #FFF 0%, #FFF 100%);
}

.pro-indicator{
  font-size: 10px !important;
  font-weight: 600 !important;
  padding:2px !important;
  border: 1px #5bc0de solid;
  color:#FFFFFF;
  line-height:15px;
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#28a4c9)); 
  background-image: -webkit-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:    -moz-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:     -ms-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:      -o-linear-gradient(top, #5bc0de, #28a4c9);
  border-radius:5px;
  vertical-align: middle;
  text-shadow: none !important;
}

//*############################ DASHBOARD, ADMIN MENU #############################*//

.dashboard-button{
  text-align: center;
  font-weight: 200;
  width:120px;
  height:120px;
  padding: 12px;
  color: darken($colBrand, 30%);
}

//*############################ TABLE #############################*//

.panel-table{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.panel-table-last{
  margin-bottom: 80px !important;
}

.table-button{
  width:auto;
}
.table-button-new{
  float:right;
}

.table-container{
  overflow: auto;
  width:100%;
}

.table{
  margin-bottom: 0px !important;
}

.header-icon{
  margin-right: 5px;
}

//*############################ MARKET VIEWS #############################*//

.market-title-container{
  margin: 0px !important;
}

.btn-market-action-bar{
  width:auto;
}

.market-actions{
  text-align: right;
  padding-bottom: 10px;
}

.market-actions-links{
  display:inline;
}

@mixin market-section-title($fontSize, $lineHeight, $marginTop){
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: 200;
  text-align: center;
  margin: $marginTop 15px 0px 15px!important;
  color:#777777;
  border-bottom: 1px solid #CCCCCC;
}

.market-section-title{
  @include market-section-title(18px, 40px, 15px);
}

.market-list-section-title{
  @include market-section-title(16px, 24px, 0px);
}

.market-section-container{
  margin: 0px 15px 15px 15px!important;
  padding: 10px !important;
  background:#FFFFFF;
}

.short-view-coupon-section{
  text-align: center;
  .short-view-coupon-inner{
    display:inline-block;
    text-align: left;
  }
}

.market-list-section-container{
  margin: 0px 15px 15px 15px!important;
  padding: 10px !important;
  background:#FFFFFF;
  .row{
    margin: 0px !important;
  }
}

.market-photo{
  float: left;
  padding-left: 0px !important;
  padding-bottom: 10px;
  img{
    max-width: 100%;
    height: auto;
  }
}

@mixin market-detail{
  font-size: 14px;
  font-weight: 200;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.market-address-detail{
  @include market-detail;
  border-bottom: 1px solid #CCCCCC;
}

.market-owner-detail{
  @include market-detail;
}

.market-list-each-container{
  position: relative;
  margin-top: 20px;
}

.market-full-description-container{
  position: relative;
}

.qr-container{
  text-align: center;
}

.social-container{
  text-align: center;
}

#fb-root{
  display: inline-block;
}

//*############################ WISH #############################*//

.wish-photo-container{
  width:400px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 30px 0px;
  img{
    max-width: 100%;
    height:auto;
  }
}

.wish-recommend-section-item{
  padding-top: 15px;
  text-align: center;
  font-weight: 200;
  font-size: 12px;
}

.wish-recommended-item{
  @extend .wish-recommend-section-item;
  img{
    max-width: 80%;
    height:auto;
  }
}

.wish-recommend-item{
  @extend .wish-recommend-section-item;
  img{
    max-width: 80%;
    height:auto;
  }
}

.recommend-control{
  margin-top: 20px;
  width:15px;
  a{
    color:#CCCCCC !important;
  }
}

.wish-gallery{
  margin-top: 0px !important;
  .container{
    .container-inner{
      margin-top: 0px !important;
    }
  }
}

.wish_gallery_title{
  margin-bottom:0px !important;
  padding: 0px !important;
}

.wish-title-container{
  width:100%;
  text-align: center;
}

#recommend{
  text-align: center;
}

//*############################ SEARCH PAGE #############################*//

.search-section-title{
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  padding-top: 20px;
}

.search-gallery > .market_gallery{
  margin-top: 60px;
  width:100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-right: 180px !important;
}

.no-matching-markets{
  margin-top: 60px;
  text-align: center;
  padding: 20px 0px 50px 0px;
}

.explore-more-markets{
  border-top: 1px solid #CCCCCC;
  text-align: center;
  padding: 20px 0px;
}

#pro_markets > .market_gallery{
  margin-bottom: 60px;
  width:100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-right: 180px !important;
}

#search-category-buttons{
  opacity:0.85;
  position:fixed;
  z-index:5;
  top:0%;
  left:100%;
  margin-top: 110px;
  margin-left: -265px;
  width:250px;
  border:1px solid #999999;
  border-radius:5px;
  max-height: 60%;
  overflow-y:auto;
  button{
    font-weight: 200;
    font-size: 14px;
    i{
      float:left;
      padding-left: 5px;
      padding-top: 3px;
    }
  }
}

#search_bar_query{
  font-weight: 200;
}

//*############################ NEW MARKET NOT ALLOWED #############################*//
.creation-not-allowed{
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  padding: 20px;
}

//*############################ TERMS #############################*//
.terms-title{
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  padding: 20px;
}

.terms-content{
  text-align: justify;
  margin-bottom: 60px;
  .go-back-button-container{
    margin-top: 30px;
  }
}

//*############################ CHANGE ROLE #############################*//
.change-role-panel{
  text-align: center;
  div{
    p{
      font-size: 24px;
      font-weight: 100; 
    }
  }
}

//*############################ MARKET TITLE #############################*//
.market-title{
  .show{
    text-decoration:none !important;
    &:link, &:visited{
      color:#000 !important;
    }
    &:hover, &:active{
      color:saturate(lighten($colBrand, 5%), 20%) !important;
      text-shadow: 1px 1px 3px #999999;
    }
  }
}

//*############################ PAYMENT FORM #############################*//
.payment-button-container{
  text-align: center;
  margin-bottom: 0px !important;
  margin-top: 20px;
  button{
    margin-bottom: 0px !important;
  }
}

//*############################ GO PREMIUM LINK #############################*//
.go-premium-button-container{
  text-align: center;
  margin-top: 10px !important;
  a{
    width:120px;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

//*############################ COUPON #############################*//

.coupon-buy-button{
  width:100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.coupon-action-button{
  width:auto;
  margin:5px 0px;
}

//*############################ ADSENSE #############################*//
.adsense-banner{
  height:80px;
  width:100%;
  text-align: center;
  line-height: 80px;
  font-weight: 100;
  font-size: 30px;
  background: #D5CFFF;
  span{
    font-size: 20px;
  }
}

//*############################ UNSUBSCRIBE #############################*//
.unsubscribe-button{
  margin-top: 15px;
}

//*############################ PASSWORD #############################*//
.change-password-inputs{
  padding: 10px 0px;
  .control-group{
    padding: 5px 0px;
  }
}

.sign-in-social-group{
  .button_to{
    padding:0px !important;
    margin-top: 5px;
  }
}