.badge{
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #5bc0de;
}
#search_img{
 width:80%;   
}

.market-photos-slideshow-container{
  width:800px !important;
  max-width: 100% !important;
  margin:0 auto !important;
}

#carousel-container-market-photo-gallery{
  width:100% !important;
}

.photo-gallery-container{
  text-align: center;
}

.title{
  font-weight: 100;
  text-align: center;
}

.tip{
  padding:15px;
}

.button_to{
  padding: 3px;
}

.simple_form .control-label {
  display: none;
}

#search_bar{
  padding-left:15px;
  padding-right:15px;
}

.search-nav-bar li{
  padding-top:10px;
  padding-left:10px;
}

.nav .btn{
  margin-top:5px;
}

body {
  padding-top: 50px
}

.caption {
  height: 80px;
}

footer {
  margin: 50px 0;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.fa.fa-star{
  color: yellow;
}

//*############################ PRICING TABLE CSS #############################*//

.pricing-table .plan {
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}
 
 .plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
}
 
 .plan {
  padding: 20px;
  margin-left:0px;
  color: #ff;
  background-color: #5e5f59;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
  
.plan-name-basic {
  padding: 20px;
  color: #fff;
  background-color: #C0C0C0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }
  
.plan-name-premium {
  padding: 20px;
  color: #fff;
  background-color: #5bc0de;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }  
  
.pricing-table .plan .plan-name span {
  font-size: 20px;
}
 
.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
 
.pricing-table .plan ul li.plan-feature {
  padding: 15px 10px;
  border-top: 1px solid #c5c8c0;
  margin-right: 35px;
}
 
.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  zoom:1;
  *display:inline;
}
 
.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}
 
.btn-plan-select {
  padding: 8px 25px;
  font-size: 18px;
}

.green-check {
color: #5cb85c;
border-color: #4cae4c;
}

.red-cross {
color: #d9534f;
border-color: #d43f3a;
}

.off { text-decoration: line-through; }


//*############################ DASHBOARD CSS #############################*//

.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }
.dashboard-button{
  text-align: center !important;
  font-weight: 200 !important;
  width:120px !important;
  height:120px !important;
  padding: 12px !important;
}

.dashboard-column{
  text-align: center !important;
}

.dashboard-container{
  margin-bottom: 60px;
}

//*############################ BADGER CSS #############################*//


[class*="badger"] {
    position: relative;
    background: #fff;
    border-radius: 6px;
}

[class*="badger"]:after {
    content: attr(data-badger);
    position: absolute;
    top: 0;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background: #999;
    color: #fff;
}

.badger-left:after {
    left: 0;
    border-radius: 0 0 6px 0;
}

.badger-right:after {
    right: 0;
    border-radius: 0 0 0 6px;
}

.badger-danger:after {
    background: #d9534f;
}

.badger-warning:after {
    background: #f0ad4e;
}

.badger-success:after {
    background: #5cb85c;
}

.badger-info:after {
    background: #5bc0de;
}

.badger-inverse:after {
    background: #222;
}

//*############################ HOME GALLERY CSS #############################*//

.home_gallery_title{
  font-size: 32px;
  font-weight: 100;
  text-align: center;
  padding-top: 20px;
}

.home_gallery_item{
  padding: 15px 0px 15px 0px;
}

.home_gallery_featured_photo{
  position:relative;
  width:300px;
  margin:auto;
}

.home_gallery_featured_photo_small{
  position:relative;
  width:250px;
  margin:auto;
}

.home_gallery_label{
  position:absolute;
  display:inline;
  top:100%;
  left:12px;
  margin-top:-48px;
  font-weight:200;
  font-size:24px;
  line-height: 48px;
  color:#FFFFFF;
  text-shadow: 2px 2px 5px #222222;
}

.home_gallery_label > span{
  max-width:200px;
  float:left;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

//*############################ TABLE CSS #############################*//

.panel-table{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.panel-table-last{
  margin-bottom: 80px !important;
}

.table-title{
  font-size: 24px;
  font-weight: 100;
  text-align: left;
  margin-bottom: 10px !important;

}
.table-button{
  width:40px;
}
.table-button-new{
  float:right;
}

.table-container{
  overflow: auto;
  width:100%;
}

.table{
  margin-bottom: 0px !important;
}

//*############################ FORM CSS #############################*//

#wizard{
  margin: 30px;
}

.tab-content>.tab-pane>.control-group{
  margin-bottom: 10px;
}

#market-save-button{
  width:200px;
  margin:0 auto;
}

#save-and-publish-button{
  width:200px;
  margin:8px auto 8px auto;
}

.form-section-title-small{
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  padding-top: 10px;
}

.form-intro-pane{
  padding-bottom: 15px;
  text-align: justify;
}

.form-bottom-button-container{
  height: 100px;
}

.form-bottom-button-container>.go-back-button-container>a{
  width:150px;
}

//*############################ RIBBON BADGE CSS #############################*//

.wrapper-ribbon-badge {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-badge-normal {
  font: bold 9px Sans-Serif;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-badge-none{
  display: none;
}

.ribbon-badge-new {
  @extend .ribbon-badge-normal;
  background-color: #d9534f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#d43f3a)); 
  background-image: -webkit-linear-gradient(top, #d9534f, #d43f3a); 
  background-image:    -moz-linear-gradient(top, #d9534f, #d43f3a); 
  background-image:     -ms-linear-gradient(top, #d9534f, #d43f3a); 
  background-image:      -o-linear-gradient(top, #d9534f, #d43f3a); 
}

.ribbon-badge-new > #market-badge-text:before{
  content:"NEW";
}

.ribbon-badge-staff_pick {
  @extend .ribbon-badge-normal;
  background-color: #C95EA0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#28a4c9)); 
  background-image: -webkit-linear-gradient(top, #C95EA0, #A85292); 
  background-image:    -moz-linear-gradient(top, #C95EA0, #A85292); 
  background-image:     -ms-linear-gradient(top, #C95EA0, #A85292); 
  background-image:      -o-linear-gradient(top, #C95EA0, #A85292); 
}

.ribbon-badge-staff_pick > #market-badge-text:before{
  content:"STAFF PICK";
}

.ribbon-badge-pro {
  @extend .ribbon-badge-normal;
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#28a4c9)); 
  background-image: -webkit-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:    -moz-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:     -ms-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:      -o-linear-gradient(top, #5bc0de, #28a4c9);
}

.ribbon-badge-pro > #market-badge-text:before{
  content:"VIM";
}

.ribbon-badge-sample {
  @extend .ribbon-badge-normal;
  background-color: #f0ad4e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eea236)); 
  background-image: -webkit-linear-gradient(top, #f0ad4e, #eea236); 
  background-image:    -moz-linear-gradient(top, #f0ad4e, #eea236); 
  background-image:     -ms-linear-gradient(top, #f0ad4e, #eea236); 
  background-image:      -o-linear-gradient(top, #f0ad4e, #eea236);
}

.ribbon-badge-sample > #market-badge-text:before{
  content:"SAMPLE";
}

.ribbon-badge-passed {
  @extend .ribbon-badge-normal;
  background-color: #aaaaaa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#999999)); 
  background-image: -webkit-linear-gradient(top, #aaaaaa, #999999); 
  background-image:    -moz-linear-gradient(top, #aaaaaa, #999999); 
  background-image:     -ms-linear-gradient(top, #aaaaaa, #999999); 
  background-image:      -o-linear-gradient(top, #aaaaaa, #999999);
}

.ribbon-badge-passed > #market-badge-text:before{
  content:"PASSED";
}

.ribbon-badge:before, .ribbon-badge:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-badge:before {
  left: 0;
}
.ribbon-badge:after {
  right: 0;
}



//*############################ LIKE BADGE CSS #############################*//


.like-badge {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  font: 14px/30px Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -1px;
  letter-spacing: -1px;
  border: 1px solid;
  border-radius: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.like-badge-color {
  background: #FF8685;
  border-color: #FF6966;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8685), to(#FF6966)); 
  background-image: -webkit-linear-gradient(top, #FF8685, #FF6966); 
  background-image:    -moz-linear-gradient(top, #FF8685, #FF6966); 
  background-image:     -ms-linear-gradient(top, #FF8685, #FF6966); 
  background-image:      -o-linear-gradient(top, #FF8685, #FF6966); 
}

.unlike-badge-color {
  background: #5bc0de;
  border-color: #28a4c9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#28a4c9)); 
  background-image: -webkit-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:    -moz-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:     -ms-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:      -o-linear-gradient(top, #5bc0de, #28a4c9); 
}

.like-badge > .like-icon{
  color: #FFFFFF !important;
}

.like-badge:hover > .like-icon{
  text-decoration: none;
}

.like-badge > .unlike-icon{
  color: #FFFFFF !important;
}

.like-badge:hover > .unlike-icon{
  text-decoration: none;
}

//*############################ SPECIAL NAVBAR CSS #############################*//

.navbar-nav>li>.dropdown-menu {
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding-top: 10px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.item-title{
  @extend .table-title;
  color:#248DCF;
}

.explore-arrow{
  margin-top:3px;
}

.explore_section{
  margin-bottom:20px !important;
}

#search_button{
  margin-top: 0px !important;
}

.add-market-button-container{
  padding-right: 15px !important;
}

.navbar-collapse-button{
  margin-left: 15px !important;
}

.snavbar-hidden{
  display:none;
}

.navbar-brand{
  font-size: 18px;
  font-weight: 200;
}

//*############################ PHOTO EDIT CSS #############################*//
.table-photo-container{
  position: relative;
  width:100%;
  height:100%;
}
.table-photo-edit{
  position: absolute;
  top:5px !important;
  left:5px !important;
  width:24px !important;
}

.table-photo-photographic{
  position: absolute;
  top:5px !important;
  left:30px !important;
  width:24px !important;
}

.table-photo-delete{
  position: absolute;
  top:5px !important;
  left:56px !important;
  width:24px !important;
}

//*############################ MARKET FULL DESCRIPTION CSS #############################*//
.panel-default > .panel-heading {
background-image: linear-gradient(to bottom, #FFF 0%, #FFF 100%);
}

.market-title-container{
  margin: 0px !important;
}
.btn-market-action-bar{
  width:40px;
}

.market-actions{
  text-align: right;
}

.market-actions-links{
  display:inline;
}

.market-section-title{
  font-size: 18px;
  line-height: 40px;
  font-weight: 200;
  text-align: center;
  margin: 15px 15px 0px 15px!important;
  color:#777777;
  border-bottom: 1px solid #CCCCCC;
}

.market-list-section-title{
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  text-align: center;
  margin: 0px 15px 0px 15px!important;
  color:#777777;
  border-bottom: 1px solid #CCCCCC;
}


.market-section-container{
  margin: 0px 15px 15px 15px!important;
  padding: 10px !important;
  background:#FFFFFF;
}

.short-view-coupon-section{
  text-align: center;
}

.short-view-coupon-inner{
  display:inline-block;
  text-align: left;
}

.market-list-section-container{
  margin: 0px 15px 15px 15px!important;
  padding: 10px !important;
  background:#FFFFFF;
}

.market-featured-photo-detail{
  float: left;
  padding-left: 0px !important;
}

#carousel-container-market-photo-gallery{
  float: left;
  padding: 0px !important;
}

.market-description-detail{
  font-size: 24px;
  font-weight: 100;
}

.market-category-detail{
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 15px;
}

.market-address-detail{
  font-size: 14px;
  font-weight: 200;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 15px;
}

.market-owner-detail{
  font-size: 14px;
  font-weight: 200;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.social-container{
  text-align: center;
}

#fb-root{
  display: inline-block;
}

.market-badge{
  @extend .wrapper-ribbon-badge;
  margin-top: -12px;
  margin-right: 2px !important;
}

.market-list-badge{
  @extend .wrapper-ribbon-badge;
  margin-top: -18px;
  margin-right: 18px;
}

.market-gallery-badge{
  @extend .wrapper-ribbon-badge;
  margin-top: 3px;
  margin-right: 3px;
}

.market-list-section-container-inner{
  margin: 0px !important;
}

.market-list-bottom{
  padding-bottom: 80px !important;
}

.market-list-each-container{
  position: relative;
  margin-top: 20px;
}

.market-full-description-container{
  position: relative;
}

.qr-container{
  text-align: center;
}

//*############################ EXPLORE MENU CSS #############################*//

.map-button{
  width:100%;
}

.explore-arrow{
  float:right;
}
//*############################ PHOTOS CSS #############################*//

.paginate{
  width:100%;
  text-align: center;
}

.photo-show{
  position: relative;
  width:600px;
  margin: 0 auto !important;
}

.photo-actions-links{
  margin-top: 10px;
}

.photo-show-panel{
  text-align: center;
}

.fa.fa-star.bad {
  color: red;
}

.fa.fa-star.good {
  color: green;
}

.fa.fa-star.regular {
  color: yellow;
}
//*############################ WISH CSS #############################*//
.wish-photo-container{
  width:600px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 30px 0px;
}

.wish-photo-container>img{
  max-width: 100%;
  height:auto;
}
//*############################ BARGAINS CSS #############################*//
.bargain_gallery{
  margin-top: 0px !important;
}

.bargain_gallery > .container > .container-inner{
  margin-top: 0px !important;
}

.bargain_gallery_title{
  @extend .home_gallery_title;
  margin-bottom:0px !important;
  padding: 0px !important;
}

.bargain-title-container{
  width:100%;
  text-align: center;
}
.bargain-full-container{
  width:100%;
  text-align: center;
}
.bargain-photo-container{
  width:400px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 30px 0px;
}
.bargain-photo-container > img{
  border:10px solid #FFFFFF;
  box-shadow: 3px 3px 10px #888888;
  max-width: 100%;
  height: auto;
}

.bargain-price-icon{
  position: absolute;
  top:63%;
  left:65%;
}

.bargain-price-container{
  width:140px;
  height:auto;
  position:relative;
}

.bargain-price-container > img{
  width:100%;
  height:auto;
}

.bargain-price{
  position: absolute;
  top:0px;
  left:0px;
  width:140px;
  text-align: center;
  line-height: 140px;
  font-size:30px;
  font-weight: 100;
  color:#68511E;
}

//*############################ WISH RECOMMEND CSS #############################*//

.wish-recommend-section-item{
  padding-top: 15px;
  text-align: center;
  font-weight: 200;
  font-size: 12px;
}

.wish-recommended-item{
  @extend .wish-recommend-section-item;
}

.wish-recommend-item{
  @extend .wish-recommend-section-item;
}

.wish-recommend-item > img{
  max-width: 80%;
  height:auto;
}

.wish-recommended-item > img{
  max-width: 80%;
  height:auto;
}

.recommend-control{
  margin-top: 20px;
  width:15px;
}

.recommend-control>a{
  color:#CCCCCC !important;
}


//*############################ TAG LIST CSS #############################*//

.tags-panel-container{
  text-align: justify;
}

.tag-link{
  color:#AAA;
}
.tag-link.active{
  color:#000;
}

//*############################ MAP BUTTON CSS #############################*//

.theme{
  text-align: left;
  text-shadow: none;
}

.theme-selected{
  background-color:#EDDDDD !important; 
}

.btn-category{
  height:32px;
}

.btn-category > i{
  position: relative;
  width:15px;
  margin-top:-1px;
}

.btn-category > span{
  position: absolute;
  margin-left:15px;
  margin-top:-2px;
}

.category-theme-button:hover{
  text-shadow: 1px 1px 3px #999999;
  background-color:#DDDDDD !important; 
  border-top: none !important;
}

.btn-all-categories:hover{
  text-shadow: 1px 1px 3px #999999;
  background-color:#DDDDDD !important;
}

.category-theme-button{
  border-top: 1px solid #DDDDDD;
}

#map_theme_buttons{
  opacity:0.85;
}

#map_theme_buttons{
  position:absolute;
  top:0%;
  left:100%;
  margin-top: 110px;
  margin-left: -120px;
  width:110px;
  border:1px solid #999999;
  border-radius:5px;
}

#map_theme_buttons > button > i{
  float:left;
  padding-left: 5px;
  padding-top: 3px;
}

#map_theme_buttons > button{
  font-weight: 200 !important;
  padding-left:0px !important;
  padding-right: 0px !important;
}

//*############################ FILTER BAR CSS #############################*//

.snavbar{
  position: fixed;
  z-index:100;
  width:100%;
  height:50px !important;
  background-image: none !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.snavbar > .container-fluid{
  padding:0px !important;
}

.search-nav-bar{
  margin:0px !important;
}

#filter-bar-items-container{
  margin: 0px !important;
}

.search-nav-bar > form > li > select{
  background-color: rgba(255, 255, 255, 0.7) !important; 
  font-weight: 200;
}

.search-nav-bar > form > li {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.btn-reset-search, .btn-my-location-search{
  margin-top: 0px !important;
  background-image: none !important;
  background-color: rgba(255, 255, 255, 0.7) !important; 
}

.search-form{
  display: inline;
}

#reset_search{
  position: relative;
}

.search-filter-item{
  position:absolute;
  top:0px;
}

#search-range-item{
  left:0px;
  width:20%;
  margin-left: 48px;
}

#search-location-item{
  left:20%;
  width:20%;
  margin-left: 48px;
}

#search-address-item{
  left:40%;
  width:20%;
  margin-left: 48px;
}

#my-location-item{
  left:60%;
  width:5%;
  margin-left: 48px;
}

#spinner-item{
  left:68%;
  width:5%;
  margin-top: 6px;
}

#location-not-found{
  left:60%;
  width:1%;
  margin-top: 4px;
}


//*############################ SEARCH PAGE CSS #############################*//
.search-section-title{
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  padding-top: 20px;
}

.search-gallery > .market_gallery{
  margin-top: 60px;
  width:100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-right: 180px !important;
}

.no-matching-markets{
  margin-top: 60px;
  margin-left: 30px !important;
  margin-right: 210px !important;
  padding: 20px 0px 0px 0px;
}

.explore-more-markets{
  border-top: 1px solid #CCCCCC;
  margin-top: 30px;
  margin-left: 30px !important;
  margin-right: 225px !important;
  padding: 20px 0px;
}

#pro_markets > .market_gallery{
  margin-bottom: 60px;
  width:100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-right: 180px !important;
}

#search-category-buttons{
  opacity:0.85;
  position:fixed;
  z-index:5;
  top:0%;
  left:100%;
  margin-top: 110px;
  margin-left: -265px;
  width:250px;
  border:1px solid #999999;
  border-radius:5px;
}

#search-category-buttons > button{
  font-weight: 200;
  font-size: 14px;
}

#search-category-buttons > button > i{
  float:left;
  padding-left: 5px;
  padding-top: 3px;
}

#search_bar_query{
  font-weight: 200;
}

//*############################ NEW MARKET NOT ALLOWED CSS #############################*//
.creation-not-allowed{
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  padding: 20px;
}

//*############################ TERMS TITLE CSS #############################*//
.terms-title{
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  padding: 20px;
}

.terms-content{
  text-align: justify;
  margin-bottom: 60px;
}

.terms-content > .go-back-button-container{
  margin-top: 30px;
}

//*############################ CHANGE ROLE CSS #############################*//
.change-role-panel{
  text-align: center;
}

.change-role-panel > div > p{
  font-size: 24px;
  font-weight: 100; 
}

//*############################ WISH CSS #############################*//
.wish-gallery{
  margin-top: 0px !important;
}

.wish-gallery > .container > .container-inner{
  margin-top: 0px !important;
}

.wish_gallery_title{
  @extend .home_gallery_title;
  margin-bottom:0px !important;
  padding: 0px !important;
}

.wish-title-container{
  width:100%;
  text-align: center;
}

#recommend{
  text-align: center;
}

//*############################ PRO INDICATOR CSS #############################*//
.pro-indicator{
  font-size: 10px !important;
  font-weight: 600 !important;
  padding:2px !important;
  border: 1px #5bc0de solid;
  color:#FFFFFF;
  line-height:15px;
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#28a4c9)); 
  background-image: -webkit-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:    -moz-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:     -ms-linear-gradient(top, #5bc0de, #28a4c9); 
  background-image:      -o-linear-gradient(top, #5bc0de, #28a4c9);
  border-radius:5px;
  vertical-align: middle;
  text-shadow: none !important;
}

//*############################ MARKET TITLE CSS #############################*//
.market-title > .show:link {
  color:#000 !important;
  text-decoration:none !important;
}
.market-title > .show:visited {
  color:#000 !important;
  text-decoration:none !important;
}
.market-title > .show:hover {
  color:#1A89EB !important;
  text-shadow: 1px 1px 3px #999999;
  text-decoration:none !important;
}
.market-title > .show:active {
  color:#1A89EB !important;
  text-decoration:none !important;
}


//*############################ STATISTIC CSS #############################*//
.statistic-title > a{
  font-weight: 100;
  font-size: 24px;
  position:relative;
}
.user-statistics{
  padding-left: 15px;
  padding-right: 15px;
}

.statistic-visit-count{
  margin-top: -32px;
}

//*############################ PAYMENT FORM CSS #############################*//
.payment-button-container{
  text-align: center;
  margin-bottom: 0px !important;
}

.payment-button-container > button{
  margin-bottom: 0px !important;
}


//*############################ GO BACK LINK CSS #############################*//
.go-back-button-container{
  text-align: center;
  margin-bottom: 0px !important;
}

.go-back-button-container > a{
  width:120px;
  margin-bottom: 0px !important;
}

//*############################ GO PREMIUM LINK CSS #############################*//
.go-premium-button-container{
  text-align: center;
  margin-top: 10px !important;
}

.go-premium-button-container > a{
  width:120px;
  margin-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

//*############################ COUPON CSS #############################*//

.coupon-buy-button{
  width:100%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.coupon-form-inner{
  margin-top: 15px;
  margin-left: 33.3% !important;
  margin-bottom: 15px;
}
.coupon-table-container{
  margin-bottom: 100px;
}
.coupon-action-button{
  width:120px;
  text-align: center;
  margin:5px 0px;
}

//*############################ PAGINATE CSS #############################*//

.pagination {
  width:100%;
}

.pagination > span > a{
  padding:5px 9px 5px 10px;
  border:1px solid #CCCCCC;
  border-radius: 500px;
}

.pagination > span{
  margin: 0px 4px;
}

//*############################ BANNER CSS #############################*//
.adsense-banner{
  height:80px;
  width:100%;
  text-align: center;
  line-height: 80px;
  font-weight: 100;
  font-size: 30px;
  background: #D5CFFF;
}

.adsense-banner>span{
  font-size: 20px;
}

//*############################ PREMIUM CSS #############################*//
.admin-profile-container > .row{
  text-align: center !important;
}

.unsubscribe-button{
  margin-top: 15px;
}

//*############################ BETA BADGE CSS #############################*//
#beta-badge-container{
  position: fixed;
  width: 100px;
  height: 80px;
  overflow: hidden;
  right:-23px;
  top:51px;
}

#beta-badge-text>a {
  color: inherit;
  text-decoration: inherit;
}

.beta-badge {
  font: bold 12px Sans-Serif;
  letter-spacing: -0.1em;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left:-15px;
  top: 10px;
  width: 130px;
  color: #000;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  background-color: #d9534f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFDF00), to(#FFC900)); 
  background-image: -webkit-linear-gradient(top, #FFDF00, #FFC900); 
  background-image:    -moz-linear-gradient(top, #FFDF00, #FFC900); 
  background-image:     -ms-linear-gradient(top, #FFDF00, #FFC900); 
  background-image:      -o-linear-gradient(top, #FFDF00, #FFC900); 
}

//*############################ SPECIAL LOCATION GALLERY CSS #############################*//
.special_location_label > span > a:link { 
  color:#FFFFFF !important;
  text-decoration: none;
}

.special_location_label > span > a:visited { 
  color:#FFFFFF !important;
  text-decoration: none;
}

.special_location_label > span > a:hover { 
  color:#FFFFFF !important;
  text-decoration: none;
}

.special_location_label > span > a:active { 
  color:#FFFFFF !important;
  text-decoration: none;
}


//*############################ PASSWORD CSS #############################*//
.change-password-inputs{
  padding: 10px 0px;
}

.change-password-inputs > .control-group{
  padding: 5px 0px;
}

.sign-in-social-group>.button_to{
  padding:0px !important;
  margin-top: 5px;
}

//*############################ COUPON GALLERY CSS #############################*//
.coupon-gallery-extra{
  width:300px;
  text-align: center;
  font-weight: 200;
  margin: 0 auto;
  padding: 5px;
  color: #777;
  border: 1px solid #ccc;
}

.coupon_name_label{
  position:absolute;
  display:inline;
  top:100%;
  left:12px;
  margin-top:-68px;
  font-weight:200;
  font-size:24px;
  line-height: 48px;
  color:#FFFFFF;
  text-shadow: 2px 2px 5px #222222;
}

.coupon_name_label > span{
  max-width:240px;
  float:left;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.gallery_coupon_photo{
  position:relative;
  width:300px;
  margin:auto;
}

.coupon_item{
  padding: 15px 0px 15px 0px;
}

.coupon_gallery_title{
  @extend .home_gallery_title;
  margin-top: 30px !important;
  margin-bottom:0px !important;
  padding: 0px !important;
}

//*############################ POSTER CSS #############################*//
.market-poster-container{
  padding:15px;
}

.market-poster-title{
  text-align: center;
  font-size: 32px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.market-poster-name{
  font-weight: 100;
  font-size: 30px;
  line-height:50px;
}
.market-poster-description{
  font-size: 16px;
  line-height:25px;
}

.market-poster-tags{
  font-size: 16px;
  line-height:25px;
}

