//*############################ HOME GALLERY CSS #############################*//
.home_gallery_title{
  display: block;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 2%;
  clear: both;
  color: #999;
  white-space: normal;
  text-align: left;
  font-family: 'GillSansMT';
}

.home_action > a{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
  text-align: right;
}

.category_gallery_label{
  text-align: center;
}

.home_gallery_item, .gallery_item{
  padding-top: 15px;
}

.home_gallery_label, .gallery_label{
  position:absolute;
  display:inline;
  top:100%;
  left:20%;
  margin-top:-48px;
  font-weight:200;
  font-size:24px;
  line-height: 48px;
  color:#FFFFFF;
  text-shadow: 2px 2px 5px #222222;
}

.home_gallery_label > span{
  max-width:200px;
  float:left;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.home_gallery_section{
  margin-left: 30px;
  margin-right:30px;
  border-bottom: 1px solid #CCCCCC;
}

.home_gallery_title{
  display: block;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 2%;
  clear: both;
  color: rgb(65, 65, 65);
  white-space: normal;
  text-align: left;
  font-family: 'GillSansMT';
}


//*############################ HOME TITLES CSS #############################*//

#slideshow_titles {
    position: absolute;
    text-align: center;
    z-index: 10;
    max-width: 80%;
    color: white;
    text-shadow: 2px 2px 5px #222222;
    font-family: 'GillSansMT-Bold'
}

#slideshow_titles .title {
    font-size: 36px
}

#slideshow_titles .subtitle {
    font-size: 24px
}