/*
*= require mapbox
*/

#map{
  width:100%;
  height:100%;
  position:absolute;
  left:0%;
}

#map_theme_buttons{
  position:relative;
  margin-top: 72px;
  margin-left: -5px;
  width:28px;
}

.glyphicon{
	margin-left:-3px;
}