/*
*= require mapbox
*/

#map{
  width:100%;
  height:600px;
}

.market-tooltip {
  .market-name { font-size: 22px; font-weight:100; line-height:36px;}
  .label { display : none }
  .market-user-email { display : none }
  .market-longitude { display : none }
  .market-latitude { display : none }
}