//= require tagmanager.css
//= require bootstrap-datepicker
//= require map-small

.market-tooltip {
  .market-name { font-size: 22px; font-weight:100; line-height:36px;}
  .market-description { padding-top: 10px; padding-bottom: 5px; font-size: 12px; line-height:16px;}
  .market-favorite { padding-top: 5px; font-size: 12px; line-height:16px;}
  .label { display : none }
  .market-category { display : none }
  .market-user-email { display : none }
  .market-address { padding-top: 5px; padding-bottom: 5px; font-size: 12px; line-height:16px;}
  .market-longitude { display : none }
  .market-latitude { display : none }
  .market-links { display : none }
  .market-qr-links { display : none }
  .market-calendar { display : none }
}


.market-full-description {

}	
	.thumbnail {
		text-align:center;
	}
	.caption {
	  height: 80px;
	}