//= require tagmanager.css

.market-gallery-item {
  .market-user-email { display : none}
  .label {display: none}
}

.market-tooltip {
  .market-user-email { display : none}
}

.market-full-description {
  .market-user-email { display : none}
  .label { display : none}
  .market-name {color : red;
  	}
}

.thumbnail {
	text-align:center;
}

.featured-photo {
}

.caption {
  height: 80px;
}