@import "color";

.navbar-inverse {
  .navbar-brand {
    color: $colBrand;
    font-family: 'donoso';
    font-size: 24px;
    padding:18px 15px 12px 15px !important;

    &:hover, &:focus { 
      color: lighten($colBrand, 20%);
    }
  }
}

.navbar-collapse.collapsing{
  width:100%;
}

.navbar-collapse.in{
  width:100%;
}

#search_button{
  margin-top: 0px !important;
}

.add-market-button-container{
  padding-right: 15px !important;
}

.navbar-collapse-button{
  margin-left: 15px !important;
}

.snavbar-hidden{
  display:none;
}

//*############################ EXPLORE MENU #############################*//

.mega-dropdown {
  position: static !important;

  .mega-dropdown-menu {
    padding-top: 10px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;

    li{
      .explore_section{
        padding: 0;
        margin: 0;
        margin-bottom:20px !important;

        li{
          list-style: none;

          &.item-title{
            font-weight: 200;
            font-size: 18px;
            color:saturate(lighten($colBrand, 5%), 20%);
          }

          a{
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 200;
            color: #777;
            white-space: normal;

            &:hover, &:focus{
              text-decoration: none;
              color: #444;
              background-color: #f5f5f5;
            }
            .explore-arrow{
              margin-top:3px;
            }
          }
        }
      }
    }
  }
}
