//*############################ POSTER CSS #############################*//
.market-poster-container{
  padding:15px;
}

.market-poster-title{
  font-family: 'donoso';
  text-align: center;
  font-size: 36px;
  line-height:50px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.poster-title-icon{
  width:auto;
  height:50px;
}

.market-poster-name{
  font-weight: 100;
  font-size: 30px;
  line-height:50px;
}
.market-poster-description{
  font-size: 16px;
  line-height:25px;
}

.market-poster-tags{
  font-size: 16px;
  line-height:25px;
}
