#slideshow_titles{
  position: absolute;
  text-align: center;
  z-index:10;
  max-width: 80%;
  color: white;
  text-shadow: 2px 2px 5px #222222;
  font-family: 'GillSansMT-Bold';
}

#slideshow_titles .title{
  font-size:36px;
}

#slideshow_titles .subtitle{
  font-size:24px;
}