.statistic {
  text-align: center;
}

.user-statistics {
  margin: 20px;
}

.market-statistic {
  
}

.market-statistic .panel-heading {
  color: #999999;
  background-color: #FFFFCC;
  background-image: none;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 50px;
}

.market-statistic .badge {
  background-color: #C0C0C0;
}

.market-statistic .badge .visits-value {
  font-size: 35px;
  padding: 0 10 0 10px;
  color: #66CC66;
}

.market-statistic .badge .visits-label {
  color: #F8F8F8;
  font-weight: normal;
  border-bottom: 1px solid #F8F8F8;
  font-size: 15px;
}