@import "color";

.statistic{
  .title{
    height:50px;
    .container{
      width:600px;
      max-width: 100%;
      margin: 0 auto;

      .badge{
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: #5bc0de;
      }

      a{
        float:left;
        font-weight: 100;
        font-size: 24px;
        position:relative;
        color: black;
        &:hover{
          text-decoration: none;
        }
      }
      .count{
        margin-top: -1px;
      }
    }
  }
  
  .panel-body{
    .chart{
      width:100% !important;
      text-align: center !important;
      overflow: auto;
      div {
        margin: 0 auto;
      }
    }
  }
}

.user-statistics{
  padding-left: 15px;
  padding-right: 15px;
}

