// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.active{
  color: green;
  background-color: rgba(0,0,0,0) !important;
  text-align: left;
  font-weight: 300;
}

.inactive{
  color: orange;
  background-color: rgba(0,0,0,0) !important;
  text-align: left;
  font-weight: 300;
}
.btn-active{
  background-color: green;
  color: white;
}
.btn-inactive{
  background-color: orange;
  color: white;
}
.lnk-active{
  color: green;
}
.lnk-inactive{
  color: orange;
}
.lnk-danger{
  color: red;
}

.user-table-container{
  margin-bottom: 60px;
}

.active > .user-status-text{
  padding:3px 8px;
  border:2px solid green;
  display: inline-block;
  border-radius:5px; 
}

.inactive > .user-status-text{
  padding:3px 8px;
  border:2px solid orange;
  display: inline-block;
  border-radius:5px; 
}