// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.active{
  color: green;
}
.inactive{
  color: orange;
}
.btn-active{
  background-color: green;
  color: white;
}
.btn-inactive{
  background-color: orange;
  color: white;
}
.lnk-active{
  color: green;
}
.lnk-inactive{
  color: orange;
}
.lnk-danger{
  color: red;
}
