<div class = "home_gallery category_gallery row">
  <% @categories.each do |category| %>
      <div class = "home_gallery_item category_gallery_item col-md-4">
        <div class = "home_gallery_featured_photo category_gallery_featured_photo" data-name="<%= category.slug %>">
          <%= photo(category.photography, 300, 150) %>
          <div class = "home_gallery_label category_gallery_label">
            <%= intl_name(category) %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<script>
$( document ).ready(function() {
  $('.category_gallery_featured_photo').css('cursor', 'pointer');

  $(".category_gallery_featured_photo").click(function(){
    $("#category_category_id").val($(this).data("name"));
    $("#search_market").submit();
  });
});
</script>
