
<h2>Categories</h2>

<table class="table">
  <tr>
  <th>Name</th>
  <th>Market Count</th>
  <th>Actions</th>
  </tr>

  <% @categories.each do |category| %>
    <tr class = "category"> 
        <td> <%= category.name %> </td> 
        <td class = "market-counter"> <%= category.markets.count %> </td>
        <td> <%= link_to "Delete", category_path(category), :method => :delete %> </td>
    </tr>   
  <% end %>
</table>

<%= link_to "New", new_category_path %>
