<% @categories.each do |category| %>
  <li class="registered-user-action">
  	<a class="explore-link-categories" href="#" data-name="<%= category.name %>">
    <%= category.name %><i class="fa fa-angle-right explore-arrow"></i>
    </a>
  </li>
<% end %>

<script>
	$(".explore-link-categories").click(function(){
    	$("#category_category_id").val($(this).data("name"));
    	$("#search_market").submit();
  	});
</script>