<div class = "row">
  <div class = "col-md-8">
  <% if coupon.available > 0 %>
    <div id = "buy-coupon-action">
      <strong> How many coupons do you want to buy? </strong>
      <%= form_tag({controller: "coupons", action: "coupon_payment"}, method: "post") do %>
      <%= select_tag "number", options_for_select((1..coupon.available)), class:"form-control"  %>
      <p>
        <br>
        <input type="checkbox" required name="premium_accept_term" id="premium_accept_term" > I accept the <%= link_to "terms of use.", buy_coupon_terms_path %>
      </p>
      <%= submit_tag "Buy", class:"btn btn-info coupon-buy-button" %>
    </div>
  <% end %>
  <% else %>
    <div class="center">
     <h1> This coupon is sold out </h1>
    </div>
  <% end %>
    </div>
</div>

<style>
#number{
  margin-top: 20px;
  width: 20% !important;
}
</style>