<div class="paginate">
  <%= paginate @markets %>
</div>

<div class="user-statistics panel-table-last">
  <div class="row">
    <% @markets.each do |market| %>
          <%= render "market_statistic", :market => market %>
    <% end %>
  </div>
</div>