<% if @market.pro? %>
  <%= render "market_statistic", :market => @market %>
<% else %>
  <%= page_title("Sorry! Only Very Important Markets con see stats", "fa-frown-o") %>
  <div class="center">
    <%= back_link %>
  </div>  
<% end %>