<% if @market.pro? %>
  <%= render "market_statistic", :market => @market %>
<% else %>
  <%= page_title(t(:sorry_only_vim_can_see_stats), "fa-frown-o") %>
  <div class="center">
    <%= back_link %>
  </div>  
<% end %>