<div class="row">
  <div id="visitsCount" class="statistic"></div>
</div>
<div class="row">
  <div id="visitsChart"></div>
</div>

<script type="text/javascript">

  Keen.onChartsReady(function() {
      var metric = new Keen.Metric("market_visit", {
          analysisType: "count"
      });

      metric.addFilter("market_id", "eq", "<%= @market.id %>");

      var myNumberVisualization = new Keen.Number(metric, {
          height: "300px",
          width: "300px",
          label: "Total visits"
      });

      myNumberVisualization.draw(document.getElementById("visitsCount"));
  });

  Keen.onChartsReady(function() {
      var series = new Keen.Series("market_visit", {
          analysisType: "count",
          timeframe: "this_month",
          interval: "daily"
      });

      series.addFilter("market_id", "eq", "<%= @market.id %>");

      series.draw(document.getElementById("visitsChart"), {
          label: "Visits per day this month"
      });
  });

</script>
