<!DOCTYPE html>
<html lang="en">

<%= render "layouts/shared/head" %>

<body>

<%= render "layouts/shared/navbarhorizontal" %>

<%= render "layouts/shared/container_admin" %>

<%= render "layouts/shared/footer" %>

</body>

</html>
